<ngx-spinner size="medium" type="ball-spin"> </ngx-spinner>
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-table">
      <div *ngIf="loadForm" class="site-block">
        <form [formGroup]="siteForm" (submit)="submitSite(siteForm)" disabled>
          <div class="inner-checkbox form-group">
            <div class="label">Publier:</div>
            <label class="switch">
              <input formControlName="publish_site" type="checkbox" class="success form-control" />
              <span [ngClass]="{
                  'slider-disabled': !this.edit_btn
                }" class="slider round"></span>
            </label>
          </div>
          <div class="row form-item">
            <div class="col">
              <label class="label" for="site-name">Nom du site*</label>
              <input InputFeedBack type="text" formControlName="name_site" id="site-name" class="form-control"
                placeholder="nom du site" />
              <app-form-error controlName="name_site" errorKey="required"></app-form-error>
            </div>
            <div class="col">
              <label class="label" for="site-name">RÉFÉRENCE</label>
              <input InputFeedBack type="text" formControlName="ref_site" id="reference" class="form-control"
                placeholder="référence" />
              <app-form-error controlName="ref_site" errorKey="required"></app-form-error>
            </div>
          </div>
          <div class="row form-item">
            <div class="col">
              <label class="label" for="id_observatory">Observatoire*</label>
              <select InputFeedBack formControlName="id_observatory" id="id_observatory" class="form-control">
                <option class="select-placeholder" value="">---</option>
                <option *ngFor="let observatory of observatories" [ngValue]="observatory.id">
                  {{ observatory.ref }}
                </option>
              </select>
              <app-form-error controlName="id_observatory" errorKey="required"></app-form-error>
            </div>
            <div class="col">
              <label class="label" for="city-code">Commune*</label>
              <select InputFeedBack formControlName="code_city_site" id="city-code" class="form-control">
                <option class="select-placeholder" value="">---</option>
                <option *ngFor="let commune of communes" [ngValue]="commune.code_commune">
                  {{ commune.nom_commune }}
                </option>
              </select>
              <app-form-error controlName="code_city_site" errorKey="required"></app-form-error>
            </div>
          </div>
          <div class="row form-item">
            <div class="col">
              <label class="label" for="theme">Thèmes*</label>
              <ng-select InputFeedBack formControlName="id_theme" [items]="themes" [multiple]="true"
                [closeOnSelect]="false" bindValue="id_theme" bindLabel="name_theme" placeholder="select thèmes">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" [checked]="item$.selected" type="checkbox" />
                  {{ item.name_theme }}
                </ng-template>
              </ng-select>
              <app-form-error controlName="id_theme" errorKey="required"></app-form-error>
            </div>
            <div class="col">
              <label class="label" for="sousTheme">Sous-thèmes*</label>
              <ng-select InputFeedBack formControlName="id_stheme" [items]="selectedSubthemes" [multiple]="true"
                [closeOnSelect]="false" bindValue="id_stheme" bindLabel="name_stheme" placeholder="select sous-thèmes">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" [checked]="item$.selected" type="checkbox" />
                  {{ item.name_stheme }}
                </ng-template>
              </ng-select>
              <app-form-error controlName="id_stheme" errorKey="required"></app-form-error>
            </div>
          </div>
          <div class="row form-item">
            <div class="col">
              <label class="label" for="main-theme-id">Thème principal</label>
              <select InputFeedBack formControlName="main_theme_id" id="main-theme-id" class="form-control">
                <option class="select-placeholder" value="">---</option>
                <option *ngFor="let theme of themes" [ngValue]="theme.id_theme">
                  {{ theme.name_theme }}
                </option>
              </select>
              <app-form-error controlName="main_theme_id" errorKey="required"></app-form-error>
            </div>
          </div>
          <div class="row form-item">
            <div class="col">
              <label class="label" for="longitude">Longitude*</label>
              <input InputFeedBack type="number" formControlName="lng" id="longitude" class="form-control"
                placeholder="longitude" />
              <app-form-error controlName="lng" errorKey="lng"></app-form-error>
            </div>
            <div class="col">
              <label class="label" for="latitude">Latitude*</label>
              <input InputFeedBack type="number" formControlName="lat" id="latitude" class="form-control"
                placeholder="latitude" />
              <app-form-error controlName="lat" errorKey="lat"></app-form-error>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="legend_site">Légende*</label>
            <textarea InputFeedBack class="form-control" formControlName="legend_site"
              placeholder="Ecrivez ici la description du site" id="legend_site" rows="2"></textarea>
            <app-form-error controlName="legend_site" errorKey="required"></app-form-error>
          </div>
          <div class="form-group">
            <label class="label" for="desc">DESCRIPTION</label>
            <div id="descRTE">
              <ejs-richtexteditor #defaultRTE id='desc' [toolbarSettings]='tools' InputFeedBack formControlName="desc_site" placeholder="Ecrivez ici la description du site">
                <ng-template #descRTE></ng-template>
              </ejs-richtexteditor>
            </div>
            <app-form-error controlName="desc_site" errorKey="required"></app-form-error>
          </div>
          <div class="form-group">
            <label class="label" for="testim">TÉMOIGNAGES</label>
            <div id="testimRTE">
              <ejs-richtexteditor #defaultRTE id='testim' [toolbarSettings]='tools' InputFeedBack formControlName="testim_site" placeholder="Ecrivez ici les témoignages">
                <ng-template #testimRTE></ng-template>
              </ejs-richtexteditor>
            </div>
            <app-form-error controlName="testim_site" errorKey="required"></app-form-error>
          </div>

          <div class="form-group">
            <label class="label">Photos de site*</label> <small>Conseil : Utiliser des jpeg de même ratio, assez grand mais larg. &lt; 5000px, poids &lt; 5Mo</small>
            <div class="preview">
              <div class="inner-photo" *ngFor="let photo of photos">
                <img *ngIf="photo.imgUrl" class="preview-img" width="120" height="120" [src]="photo.imgUrl" />
                <div class="photo-ref">{{ photo.name }}</div>
                <div *ngIf="(edit_btn || !id_site) && currentUser.max_level_profil > 5"
                  class="icon-cancel-circle delete-photo" (click)="deletePhoto(photo)"></div>
              </div>
              <app-add-photo *ngIf="edit_btn || !id_site" (photoModal)="getPhoto($event)" style="display: block">
              </app-add-photo>
            </div>
          </div>
          <div>
            <input class="form-group" formControlName="notice" style="display: none" type="file"
              (change)="noticeSelect($event)" accept="application/pdf" #noticeInput />
            <button *ngIf="!noticeName && edit_btn" class="blue-btn" type="button" (click)="noticeInput.click()">
              <i class="icon-download"></i> Importer la notice technique
            </button>
            <label *ngIf="noticeName" class="label">notice :</label>
            <div *ngIf="noticeName" style="color: #00188f">
              {{ noticeName
              }}<i *ngIf="edit_btn" class="icon-bin remove-file" (click)="removeNotice()"></i>
            </div>
          </div>
          <ngb-alert class="alert" *ngIf="alert" [dismissible]="false" [type]="alert.type">{{ alert.message }}
          </ngb-alert>
          <div class="submit-btn-group">
            <button type="button" *ngIf="id_site" class="btn btn-outline-warning btn-edit"
              [class.active_edit]="edit_btn" (click)="editForm()">
              <i class="icon-pencil"></i>{{ edit_btn_text }}
            </button>
            <button class="btn btn-outline-success btn-submit" type="submit" [disabled]="!edit_btn">
              {{ submit_btn_text }}
            </button>
            <button type="button" *ngIf="id_site && currentUser.max_level_profil > 5"
              class="btn btn-outline-danger btn-delete" (click)="openDeleteModal(content)">
              <i class="icon-bin delete-site"></i>Supprimer le site
            </button>
            <button class="btn btn-outline-secondary btn-cancel" type="button" (click)="onCancel()">
              Retour à la liste
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-6 col-map">
      <div class="map" leaflet leafletDraw [leafletOptions]="options" [(leafletCenter)]="center" [(leafletZoom)]="zoom"
        [leafletDrawOptions]="drawOptions" (leafletDrawReady)="onDrawReady($event)"
        (leafletMapReady)="onMapReady($event)"></div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title"><i class="icon-bin"></i></h5>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir supprimer ce Site ?
    <br />
    Sa suppression sera définitive
  </div>
  <div class="modal-footer">
    <button type="button" class="cancel-btn" style="margin-right: 10px" (click)="cancelDelete()">
      ANNULER
    </button>
    <button type="button" class="green-btn" (click)="deleteSite()">OUI</button>
  </div>
</ng-template>