<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
  <a class="navbar-brand">
    <img [src]="logoUrl" height="97px" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="collapse"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/observatories"
          routerLinkActive="active"
          >{{ 'NAV.OBSERVATORIES' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sites" routerLinkActive="active"
          >{{ 'NAV.SITES' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
          >{{ 'NAV.GALLERY' | translate }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/languages" routerLinkActive="active"
          >{{ 'NAV.LANGUAGES_DB' | translate }}</a
        >
      </li>

      <li class="nav-item dropdown language" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
          <i class="icon-earth"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <div *ngFor="let lang of availableLanguages">
            <div class="icon-wrapper">
              <button class="dropdown-item" (click)="changeLanguage(lang)">
                {{ 'LANGUAGES.' + lang | translate }}
              </button>
              <i *ngIf="lang === selectedLanguage" class="icon-checkmark"></i>
            </div>
          </div>
        </div>
        <div class="selected-language">
          {{ 'LANGUAGES.'+selectedLanguage | translate }}
        </div>
      </li>
      
      
      
      <li class="nav-item logout" (click)="logout()">
        <a class="nav-link">
          <span class="icon-exit"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
