<ngx-spinner size="medium" type="ball-spin">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<app-header></app-header>
<div *ngIf="sitesLoaded" class="container-fluid inner h-100">
  <div class="row inner h-100">
    <div class="col-2 list-site">
      <button *ngFor="let site of sites" [class.active]="isActive(site)" [class.site-active]="isActive(site)" class="site-title" (click)= 'getPhotosSite(site.id_site)'> {{site.name_site}}
        <i class="icon-right selected-icon" [class.icon-active]="isActive(site)" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-10 photos">
      <div style="margin-bottom:10px; position: relative" *ngFor="let photo of photos">
          <div class ="photo-badges">
            <i *ngIf="photo.display_gal_photo" class='icon-eye' (click)='editPhoto(photo)'></i> 
            <i *ngIf="!photo.display_gal_photo" class='icon-eye-blocked' (click)='editPhoto(photo)'></i>   
            <i *ngIf="photo.main_photo" class='icon-star-full'></i>
          </div>
        <app-add-photo  class="picture" [licences]="licences" [inputImage]="photo" (photoModal)='updatePhotos($event)'></app-add-photo>
        <div class="photo-name">{{photo.path_file_photo}}</div>
      </div>
    </div>
  </div>
</div>
