# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db
*.pyc
*.pyo
*.swp

# Conf
*config.py

# Node
.npm
node_modules
npm-debug.log

# venv
venv