backend/static/custom/images/sample.png
backend/static/custom/css/custom-style.css
backend/static/custom/css/page-style.css
backend/static/custom/logo/logo_txt_blanc.png
backend/static/custom/logo/logo_txt_color.png
backend/static/custom/logo/favicon.ico

messages.pot 
messages.po
messages.mo

src/favicon.ico



# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
jsconfig.json

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db
*.pyc
*.pyo
*.swp

# Conf
*config.py
*config.ts

# Typings file.
typings/
pylintrc

# Node
.npm
node_modules
npm-debug.log
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*
.ng_pkg_build/

# venv
venv

# Outputs
bazel-*
test-project-host-*
dist/
dist-schema/
var/


#doc
documentation
geopaysagesftpclient/geopaysagesftpclient/tests/pt_200_400.jpg~
geopaysagesftpclient/geopaysagesftpclient/tests/pt_300_500.jpg~
geopaysagesftpclient/geopaysagesftpclient/tests/pt_400_600.jpg~
geopaysagesftpclient/config.ini
geopaysagesftpclient/pytest.ini
geopaysagesftpclient/.vscode/
geopaysagesftpclient/geopaysagesftpclient.egg-info/
geopaysagesftpclient/output/
geopaysagesftpclient/env/
