

.modal-body {
  padding: 20px
}

.modal-header {
  padding: 15px;
  background-color: #f8f9fa
}

.image-btn {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border: none;
}

.icon-cross {
  color: white;
  font-size: 34px;
  font-weight: 200
}

.icon-download {
  font-size: 12px;
  padding-right: 6px
}


.form-item {
  margin-bottom: 30px;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  margin: 0;
  padding-right: 12px;
}

.inner-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 34px
}
