<ngx-spinner size="medium" type="ball-spin">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<button *ngIf="!inputImage" class="image-btn" type="button" (click)="openPhotoModal(content)"><i class="icon-cross"></i></button>
<button *ngIf="inputImage" class="gallery" [style.background-image]="'url(' + inputImage.sm + ')'" type="button"
  (click)="openPhotoModal(content)"></button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{title}} </h5>
  </div>
  <form *ngIf="loadForm" [formGroup]="photoForm" (submit)="submitPhoto(photoForm)">
    <div class="modal-body">
      <button *ngIf="inputImage && currentUser.id_droit_max > 5" type="button" class="btn btn-outline-danger btn-delete" (click)="openDeleteModal(photoModal)">
        <i class="icon-trash delete-photo"></i>Supprimer
        la photo</button>
      <div class="inner-checkbox form-group">
        <div class="label">Publier la photo :</div>
        <label class="switch ">
          <input formControlName="display_gal_photo" type="checkbox" class="success">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="row form-item">
        <div class="col ">
          <label class="label" for="datePhoto">Date approximative </label>
          <input InputFeedBack type="text" formControlName="date_photo" id="datePhoto" class="form-control" placeholder="Date Photo">
          <app-form-error controlName="date_photo" errorKey="required"></app-form-error>
        </div>
        <div class="col ">
          <label class="label" for="sousTheme">DATE DE PRISE DE VUE*</label>
          <div class="input-group">
            <input InputFeedBack formControlName="filter_date" type="date" class="form-control" placeholder="yyyy-mm-dd"
              ngbDatepicker #dto="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dto.toggle()" type="button">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
          <app-form-error controlName="filter_date" errorKey="required"></app-form-error>
        </div>
      </div>
      <div class="row form-item">
        <div class="col">
          <label class="label" for="licence">CRÉDIT PHOTOGRAPHIQUE</label>
          <select InputFeedBack id="licence" formControlName="id_licence_photo" class="form-control">
            <option class="select-placeholder" value="">---</option>
            <option *ngFor="let licence of licences" [ngValue]="licence.id_licence_photo">{{licence.name_licence_photo}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="form-group">
        <label class="label" for="desc">Légende photo</label>
        <textarea InputFeedBack class="form-control" formControlName="legende_photo" placeholder="Ecrivez ici le commentaire"
          id="desc" rows="2"></textarea>
      </div> -->
      <input InputFeedBack style="display: none" formControlName="photo_file" accept="image/x-png,image/gif,image/jpeg"
        type="file" (change)=onFileSelected($event) #iamgeInput>
      <button type="button" *ngIf="!imageLaoded" class="blue-btn" (click)="iamgeInput.click()"><i class="icon-download"></i>Importer
        une photo</button>
      <app-form-error controlName="photo_file" errorKey="required"></app-form-error>
      <div *ngIf="imageLaoded" style="color: #00188F;"><i class="icon-camera"></i>{{imageName}}<i *ngIf="currentUser.id_droit_max > 5" class="icon-trash remove-file "
          (click)="removeImage()"></i></div>
      <ngb-alert class='alert' *ngIf="alert" [dismissible]="false" type="danger">{{alert}}</ngb-alert>
      <div class="custom-control custom-checkbox">
        <input type="checkbox"   formControlName='main_photo' class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Photo affichée dans la gallerie</label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="red-btn" style="margin-right: 10px" (click)="onCancel()">Annuler</button>
      <button type="submit" class="green-btn" [disabled]="disableButton">{{btn_text}}</button>
    </div>
  </form>
</ng-template>


<ng-template #photoModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title"><i class="icon-trash"></i></h5>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir supprimer cette photo ?
    <br>
    Sa suppression sera définitive
  </div>
  <div class="modal-footer">
    <button type="button" class="cancel-btn" style="margin-right: 10px" (click)="cancelDelete()">ANNULER</button>
    <button type="button" class="green-btn" (click)="deletePhoto()">OUI</button>
  </div>
</ng-template>
