<button class="image-btn" type="button" (click)="openPhotoModal(content)"><i class="icon-cross"></i></button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Ajouter une photo</h5>
  </div>
  <form *ngIf="loadForm" [formGroup]="photoForm" (submit)="submitPhoto(photoForm)">
    <div class="modal-body">
      <div class="inner-checkbox form-group">
        <div class="label">Afficher la photo :</div>
        <label class="switch ">
          <input formControlName="display_gal_photo" type="checkbox" class="success">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="row form-item">
        <div class="col ">
          <label class="label" for="auteur">Auteur*</label>
          <select  InputFeedBack id="auteur" formControlName="id_role" class="form-control">
            <option class="select-placeholder" value="">---</option>
            <option  *ngFor="let author of authors" [ngValue]="author.id_role" >{{author.nom_role}}</option>
          </select>
          <app-form-error controlName="id_role" errorKey="required"></app-form-error>
        </div>
        <div class="col">
          <label class="label" for="licence">Licence*</label>
          <select InputFeedBack id="licence" formControlName="id_licence_photo" class="form-control">
            <option class="select-placeholder" value="">---</option>
            <option *ngFor="let licence of licences"[ngValue]="licence.id_licence_photo">{{licence.name_licence_photo}}</option>
          </select>
          <app-form-error controlName="id_licence_photo" errorKey="required"></app-form-error>
        </div>
      </div>
      <div class="row form-item">
        <div class="col ">
          <label class="label" for="datePhoto">Date de prise de la photo*</label>
          <input InputFeedBack type="text" formControlName="date_photo" id="datePhoto" class="form-control" placeholder="Date Photo">
          <app-form-error controlName="date_photo" errorKey="required"></app-form-error>
        </div>
        <div class="col ">
          <label class="label" for="sousTheme">Date filtre*</label>
          <div class="input-group">
            <input InputFeedBack formControlName="filter_date" type="date" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dto="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="dto.toggle()" type="button">
                <i class="icon-calendar"></i>
              </button>
            </div>
          </div>
          <app-form-error controlName="filter_date" errorKey="required"></app-form-error>
        </div>
      </div>
      <div class="form-group">
        <label class="label" for="desc">Légende photo*</label>
        <textarea InputFeedBack class="form-control" formControlName="legende_photo" placeholder="Ecrivez ici le commentaire" id="desc" rows="2"></textarea>
        <app-form-error controlName="legende_photo" errorKey="required"></app-form-error>
      </div>
      <input InputFeedBack style="display: none" formControlName="photo_file" accept="image/x-png,image/gif,image/jpeg" type="file"
        (change)=onFileSelected($event) #iamgeInput>
      <button class="blue-btn" (click)="iamgeInput.click()"><i class="icon-download"></i>Importer une photo</button>
      <app-form-error controlName="photo_file" errorKey="required"></app-form-error>
      <div *ngIf="imageLaoded" style="padding: 10px">{{imageName}}<i class="icon-trash" (click)="removeImage()"></i></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="red-btn" style="margin-right: 10px" (click)="onCancel()">Annuler</button>
      <button type="submit" class="green-btn" [disabled]="disableButton" >Ajouter</button>
    </div>
  </form>
</ng-template>
