.container{
    min-width: 95%;
    margin-top: 10px !important;
}
.LeftPart{
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.add-photo{
    width: 150px;
    height: 150px;
    border: solid 2px #888;
    position: relative;
}


input.button{
    overflow: visible;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.add-photo:first-child{
    background-color: #888;
}

.label{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
}

.form{
    margin-bottom: 50px;
}

.green-btn{
    float: right;
}

span.edit, span.delete{
    float: right;
}

span.view img{
    border :solid 2px #777;
    color: #777;
    padding: 10px 9px;
}

/* RIGHT PART */



/* MEDIA QUERIES */

@media screen and (max-width: 1375px) {
    .add-photo{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 990px) {
    .add-photo{
        width: 150px;
        height: 150px;
    }
}