.site-block {
  padding: 30px 40px;
  background: #FFF;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
}

.form-item {
  margin-bottom: 30px;
}

.label {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Hind', sans-serif;
  font-size: 12px;
  margin: 0;
  padding-right: 12px;
}

.icon-download {
  font-size: 12px;
  padding-right: 6px
}


.icon-trash {
  color: #777777;
  padding-left: 10px;
  cursor: pointer;
}

.inner-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 34px
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.map {
  height: calc(100vh - 98px);
  width: 100%;
}

.col-map {
  padding: 0;
  background-color: #e8e8e8;
}

.col-table {
  padding: 20px;
  background-color: #e8e8e8
}

.is-invalid {
  border-radius: 4px;
  border: 1px solid red;
}

.preview-img {
  margin-top: 10px;
  margin-right: 10px;
  background: no-repeat center;
  background-size: cover;
}

.preview {
  display: flex;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
