/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import './assets/css/icomoon.css';
@import './assets/css/custom_ngx_table.scss';

.black-overlay{
  position: fixed !important
}
.custom-modal {
  .modal-content {
    min-width: 600px;
  }

  .modal-body {
    padding: 20px
  }

  .modal-header {
    padding: 15px;
    background-color: #f8f9fa
  }

}

.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 20px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff5252;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1;
}


  .slider-disabled {
    cursor: default;
    opacity: 0.6;
  }

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1;
}

input.success:checked+.slider {
  background-color: #8bc34a;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

:root {
  --color-primary: #00188F;
  --color-blue: #283371;
  --color-green: #7AB929;
  --color-red: #dc3545;
}


.important {
  color: #336699;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  box-shadow: none !important;
}

::placeholder {
  color: #aaa !important;
  font-style: italic;
  font-size: 14px;
}

ng-select {
  .ng-placeholder {
    font-style: italic;
    font-size: 14px;
  }
}

.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #000;
}


.blue-btn {
  height: calc(1.5em + 0.75rem + 2px);
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 0.25rem;
  width: fit-content;
  &:disabled {
    cursor: auto;
    background-color: #aaa;
  }
}

.green-btn {
  background-color: var(--color-green);
  color: #fff;
  border: none;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 13px;
  width: fit-content;
}

.red-btn {
  background-color: var(--color-red);
  color: #fff;
  border: none;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 13px;
  width: fit-content;
}

.progress-bar {
  background-color: var(--color-primary);
}

.discover {
  text-align: center;
  color: #fff;
  font-style: italic;
  background-color: rgba(103, 233, 255, 0.5);
  z-index: 9999;
  transition: transform .5s ease;
}

.discover a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.block:hover .discover {
  transform: translateY(-65px);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #fff;
  background-color: #47518c;
}


/* End of bootstrap */

body,
html {
  font-family: Roboto;
}


// Surchage du body pour appliquer du gris sur toute la page quand on est dans la gestion d'un observatoire
body {
  background-color: #e8e8e8 !important;
}

.navbar  {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 .light,
h2 .light,
h3 .light,
h4 .light,
h5 .light,
h6 .light {
  font-weight: 500;
}

.leaflet-popup-content {
  width: fit-content !important;
  margin: 0;

  p {
    margin: 1px 0
  }
}

.delete-modal {

  .modal-content {
    min-width: 300px;
  }

  .modal-body {
    padding: 20px
  }

  .modal-header {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #ff6666
  }

  .cancel-btn {
    background-color: white;
    border: 1px solid black;
    box-shadow: none;
    padding: 4px 38px;
    text-transform: uppercase;
    font-size: 13px;
    width: fit-content;
    outline: none
  }
}

.custom-popup {
  bottom: 26px !important;
}
