{% extends "layout.jinja" %}
{% set active_page = 'legal_notices' %}

{% block title %}Mentions Légales{% endblock %}
{% block head %}
{{ super() }}
<!-- link some css if necessary
<link rel="stylesheet" href="{{ url_for('static', filename='custom/css/legal_notices.css') }}">
-->
{% endblock %}

{% block bodyClassNames %}page-legal_notices{% endblock %}

{% block header_title %}{% endblock %}

{% block content %}
<div class="container py-4 page-container-min-height">
<h1 class="page-title">
    Mentions Légales
</h1>
<h4>IDENTITÉ</h4>
Nom du site web : < Nom du site ><br>
Adresse : < https://nomdusite.domaine ><br>
Propriétaire : < propriétaire ><br>
Responsable de publication : < nom du contact ><br>
<br>
Conception et réalisation : < concepteur ><br>
Animation : < animateur ><br>
Hébergement : < hébergeur ><br>
<br>
<h4>PERSONNE MORALE (RETIRER CE BLOC AU BESOIN)</h4>
< ‘Raison sociale’ – ‘Forme juridique’ au capital de XXX XXX euros – RCS XXXXXX – ‘Adresse complète’ ><br>
< ‘Téléphone’ – ‘Email’ ><br>
<br>
<h4>CONDITIONS D’UTILISATION</h4>
L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles <br>d’être modifiées ou complétées à tout moment.<br>
<br>
<h4>INFORMATIONS</h4>
Les informations et documents du site sont présentés à titre indicatif, sans de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.<br>
<br>
Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.<br>
<br>
<h4>INTERACTIVITÉ</h4>
Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la <br>responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.<br>
<br>
Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte <br>déontologique du site ou à la législation en vigueur.<br>
<br>
<h4>PROPRIÉTÉ INTELLECTUELLE</h4>
Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs <br>auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage.<br>
<br>
Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, <br>sauf autorisation écrite préalable de l’auteur.23<br>
<br>
Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et passible de poursuites.<br>
<br>
Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.<br>
<br>
<h4>LIENS</h4>
Liens sortants<br>
Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, <br>tant en ce qui concerne leur contenu que leur pertinence.<br>
<br>
Liens entrants<br>
Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non <br>équivoque afin d’éviter :<br>
<br>
tout risque de confusion entre le site citant et le propriétaire du site<br>
ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.<br>
Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.<br>
<br>
<h4>CONFIDENTIALITÉ</h4>
Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée <br>d’une preuve d’identité.<br>
<br>
Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.<br>
<br>
<h4>CRÉDITS</h4>
< crédits photo, icones, etc. ><br>
</div>

{% endblock %}
