version: '3'
services:
  proxy:
    restart: no
    # ports:
    #   - "${PROXY_HTTP_PORT}:80"
    #   - "${PROXY_API_PORT}:8080"
    # command:
    #   - --providers.docker
    #   - --providers.docker.exposedbydefault=false
    #   - --accesslog
    #   - --log
    #   - --api
    #   - --api.insecure=true

  thumbor:
    restart: no

  db:
    restart: no
    # build: 
    #   context: ../db
      
  admin:
    restart: no
    # build: 
    #   context: ../admin

  backend:
    restart: no
    # build:
    #   context: ../backend
    volumes:
      - ../backend:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - 'RUN=flask run --host=0.0.0.0 --port=80'
    #command: flask run --host=0.0.0.0 --port=80
    # Infinite loop, to keep it alive, for debugging
    command: bash -c "/app/prestart.sh && flask run --host=0.0.0.0 --port=80 && while true; do echo 'sleeping...' && sleep 10; done"
