.map {
  min-height: calc(100vh - 98px);
  height: 100%;
  width: 100%;
}

.col-map {
  padding: 0;
  background-color: #e8e8e8;
}

.col-table {
  padding: 20px;
  background-color: #e8e8e8
}

.title {
  margin-bottom: 16px;
  font-size: 20px;
}

.btn-add {
  margin-bottom: 20px
}

.main-photo {
  margin-left: -14px
}

