<app-header></app-header>
<div *ngIf="sitesLoaded" class="container-fluid inner h-100">
  <div class="row inner h-100">
    <div class="col-2 list-site">
      <button *ngFor="let site of sites"  class=" site-title" (click)= 'getPhotosSite(site.id_site)'> {{site.name_site}}</button>
    </div>
    <div class="col-10 photos">
      <div style=" position: relative" *ngFor="let photo of photos">
          <i *ngIf="photo.main_photo" class='icon-star-full'></i>
        <app-add-photo  class="picture" [inputImage]="photo" (photoModal)='updatePhotos($event)'></app-add-photo>
      </div>
    </div>
  </div>
</div>
