{% extends "layout.html" %}
{% block title %}{{ site.name_site }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper.min.css') }}" />
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comparator.css') }}" />

<script src="{{ url_for('static', filename='vendor/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/comparator.js') }}"></script>
{% endblock %}

{% block header_title %}
<h3 class="text-uppercase">{{ site.name_site }} | {{ site.ville.nom_commune }} <small class="text-lowercase">(réf. : {{ site.ref_site }})</small></h3>
{% endblock %}

{% block bodyClassNames %}page-comparator {% if site.testim_site %}with-testimonial{% endif %}{% endblock %}

{% block content %}
<div class="page-content container-fluid" id="js-app-comparator">
  <div class="text-center mb-3"><i>{{ site.legend_site }}</i></div>
  <b-modal id="modal_comparator_zoom" class="modal-fs modal-no-footer modal-img" no-fade lazy>
    <figure v-for="photo in zoomPhotos">
        <img :src="photo.lg" />
        <figcaption class="text-center">
          <button class="btn btn-primary align-self-start" @click="onDownloadClick(photo)">{{ _('obs_point.buttons.download') }} <i class="icon ion-md-download"></i></button>
        </figcaption>
    </figure>
  </b-modal>
  <div class="row">
    <!-- <div class="col-auto col-thumbs">
      <ul class="list-unstyled thumbs clearfix">
        {% for photo in site.photos %}
        <li v-on:click="onThumbClick({{ loop.index - 1 }})" v-bind:class="{'selected': isCompared({{ loop.index - 1 }})}">
          <img src="{{ photo.sm }}" />
          <span class="img-date">{{ photo.date }}</span>
        </li>
        {% endfor %}
      </ul>
    </div> -->
    <div class="col col-main">
      <div class="row compared pt-3">
        <!-- <div class="col-12 p-0 text-right">
          <b-btn v-on:click="onZoomClick()" :size="'sm'" :variant="'link'" class="btn-zoom" v-b-modal.modal_comparator_zoom>
            <i class="material-icons align-middle">fullscreen</i>
          </b-btn>
        </div> -->
        {% for i in [0, 1] if photos[i] %}
        <div class="d-flex align-items-end col-sm-6">
          <div class="img-wrapper">
            <span class="position-relative async" v-bind:class="{ 'async-resolved': comparedPhotos[{{ i }}].comparedLoaded }">
              <div class="hidden-async-resolved progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="{{ photos[i].md }}" :src="comparedPhotos[{{ i }}].md" @load="onComparedLoaded({{ i }})" @click="onZoomClick({{ i }})" v-b-modal.modal_comparator_zoom />
              <div class="d-flex justify-content-between py-1">
                <div class="img-date align-self-center" v-html="comparedPhotos[{{ i }}].date_diplay.md">{{ photos[i].date_diplay.md }}</div>
                <b-button class="btn-sm btn-toggle btn-big-icon border-0" :pressed="isPinned({{ i }})" v-on:click="onPinClick({{ i }})" variant="outline-primary">
                  <span v-html="isPinned({{ i }}) ? 'Épinglé' : 'Épingler'"></span> <i class="icon" v-bind:class="[isPinned({{ i }}) ? 'ion-md-lock' : 'ion-md-unlock']"></i>
                </b-button>
              </div>
              <div class="img-tools"> 
                <!-- <b-btn v-on:click="onDownloadClick(comparedPhotos[{{ i }}])" :size="'lg'" :variant="'link'" class="btn-download">
                  <i class="icon ion-md-download"></i>
                </b-btn> -->
                <b-btn v-on:click="onZoomClick({{ i }})" :size="'lg'" :variant="'link'" class="btn-zoom" v-b-modal.modal_comparator_zoom>
                    <i class="icon ion-ios-expand"></i>
                </b-btn>
              </div>
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mt-3">
        <div class="thumbs">
          <button class="btn btn-lg btn-link btn-big-icon btn-arrow btn-prev swiper-button-disabled" ref="swiperThumbsPrev">
            <i class="icon ion-ios-arrow-back"></i>
          </button>
          <div class="swiper-container" ref="swiperThumbs">
            <div class="swiper-wrapper">
              {% for photo in photos %}
              <div class="swiper-slide thumb" v-on:click="onThumbClick({{ loop.index0 }})" v-bind:class="{'selected': isCompared({{ loop.index0 }})}">
                <img src="{{ photo.sm }}" />
                <div class="img-date">{{ photo.date_diplay.sm }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- .swiper-button-disabled prevent some blink, it will be removed by Swiper -->
          <button class="btn btn-lg btn-link btn-big-icon btn-arrow btn-next swiper-button-disabled" ref="swiperThumbsNext">
            <span class="icon ion-ios-arrow-forward"></span>
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-5 pl-0 mb-5 text-right">
          <div class="map-wrapper" ref="map"></div>
          <a class="btn btn-sm btn-primary text-uppercase mb-2" href="{{ url_for('static', filename='data/notice-photo/' + site.path_file_guide_site) }}" target="_blank">
            {{ _('obs_point.buttons.notice') }} <i class="icon ion-md-download ml-2"></i>
          </a>
          <a class="btn btn-sm btn-primary text-uppercase mb-2" href="mailto:patrick.folliet@vanoise-parcnational.fr?subject=Observation OPPV - réf. : {{ site.ref_site }}">
            {{ _('obs_point.buttons.obs') }} <i class="icon ion-ios-eye ml-2"></i>
          </a>
        </div>
        <div class="col-lg-7 pr-0">
          <h5 class="text-uppercase">{{ _('obs_point.description') }}</h5>
          <div class="text-collapse" ref="text_collapse_description" v-bind:class="textCollapseClsDescription">
            <div class="target font-italic">
              {{ site.desc_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-sm btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('description')">
                <span class="visible-text-collapsed">{{ _('obs_point.buttons.read_more') }}</span>
                <span class="hidden-text-collapsed">{{ _('obs_point.buttons.read_less') }}</span>
              </button>
            </div>
          </div>
          {% if site.testim_site %}
          <h5 class="text-uppercase mt-4">{{ _('obs_point.testimonials') }}</h5>
          <div class="text-collapse" ref="text_collapse_testimonial" v-bind:class="textCollapseClsTestimonial">
            <div class="target font-italic">
              {{ site.testim_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-sm btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('testimonial')">
                <span class="visible-text-collapsed">{{ _('obs_point.buttons.read_more') }}</span>
                <span class="hidden-text-collapsed">{{ _('obs_point.buttons.read_less') }}</span>
              </button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      oppv.comparator({
        dbconf: {{dbconf | tojson}},
        site: {{site | tojson}},
        photos: {{photos | tojson}}
      })
    }
  };

</script>

{% endblock %}
