{% extends "layout.html" %}
{% block title %}{{ site.name_site }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper.min.css') }}" />
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comparator.css') }}" />

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/swiper/swiper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/comparator.js') }}"></script>
{% endblock %}

{% block header_title %}
<h3 class="text-uppercase">Comparaison de photos - <span class="light">{{ site.name_site }}</span></h3>
{% endblock %}

{% block bodyClassNames %}page-comparator{% endblock %}

{% block content %}
<div class="page-content container-fluid" id="js-app-comparator">
  <b-modal id="modal_comparator_zoom" class="modal-fs modal-no-footer modal-img" no-fade lazy>
    <div class="img-wrapper" v-for="photo in zoomPhotos">
      <figure>
          <img :src="photo.lg" />
          <figcaption class="sans-serif font-weight-bold mt-2">
            <span class="d-block" v-html="photo.date"></span>
            <span class="d-block">{{ site.name_site }}</span>
          </figcaption>
      </figure>
    </div>
  </b-modal>
  <div class="row">
    <!-- <div class="col-auto col-thumbs">
      <ul class="list-unstyled thumbs clearfix">
        {% for photo in site.photos %}
        <li v-on:click="onThumbClick({{ loop.index - 1 }})" v-bind:class="{'selected': isCompared({{ loop.index - 1 }})}">
          <img src="{{ photo.sm }}" />
          <span class="img-date">{{ photo.date }}</span>
        </li>
        {% endfor %}
      </ul>
    </div> -->
    <div class="col col-main">
      <div class="row compared">
        <div class="col-12 p-0 text-right">
          <b-btn v-on:click="onZoomClick()" :size="'sm'" :variant="'link'" class="btn-zoom" v-b-modal.modal_comparator_zoom>
            <i class="material-icons align-middle">fullscreen</i>
          </b-btn>
        </div>
        {% for i in [0, 1] %}
        <div class="d-flex align-items-center col-lg-6">
          <div class="img-wrapper">
            <span class="position-relative async" v-bind:class="{ 'async-resolved': comparedPhotos[{{ i }}].comparedLoaded }">
              <div class="hidden-async-resolved progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <img src="{{ photos[i].md }}" :src="comparedPhotos[{{ i }}].md" @load="onComparedLoaded({{ i }})" @click="onZoomClick({{ i }})" v-b-modal.modal_comparator_zoom />
              <div class="d-flex justify-content-between py-1">
                <div class="img-date align-self-center" v-html="comparedPhotos[{{ i }}].date">{{ photos[i].date }}</div>
                <b-button class="btn-sm btn-toggle btn-big-icon" :pressed="isPinned({{ i }})" v-on:click="onPinClick({{ i }})" variant="outline-primary">
                  <span v-html="isPinned({{ i }}) ? 'Épinglé' : 'Épingler'"></span> <i class="icon" v-bind:class="[isPinned({{ i }}) ? 'ion-md-lock' : 'ion-md-unlock']"></i>
                </b-button>
              </div>
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mt-3">
        <div class="thumbs">
          <button class="btn btn-lg btn-link btn-big-icon btn-arrow btn-prev swiper-button-disabled" ref="swiperThumbsPrev">
            <i class="icon ion-ios-arrow-back"></i>
          </button>
          <div class="swiper-container" ref="swiperThumbs">
            <div class="swiper-wrapper">
              {% for photo in photos %}
              <div class="swiper-slide thumb" v-on:click="onThumbClick({{ loop.index0 }})" v-bind:class="{'selected': isCompared({{ loop.index0 }})}">
                <img src="{{ photo.sm }}" />
                <div class="img-date">{{ photo.date }}</div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- .swiper-button-disabled prevent some blink, it will be removed by Swiper -->
          <button class="btn btn-lg btn-link btn-big-icon btn-arrow btn-next swiper-button-disabled" ref="swiperThumbsNext">
            <span class="icon ion-ios-arrow-forward"></span>
          </button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-5 pl-0 mb-5 text-right">
          <div class="map-wrapper" ref="map"></div>
          <button class="btn btn-sm btn-primary text-uppercase">
            Notice technique pour le photographe <i class="icon ion-md-download ml-2"></i>
          </button>
        </div>
        <div class="col-lg-7 pr-0">
          <h5 class="text-uppercase">Description</h5>
          <div class="text-collapse" ref="text_collapse_description" v-bind:class="textCollapseClsDescription">
            <div class="target font-italic">
              {{ site.desc_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('description')">
                <span class="visible-text-collapsed">Lire plus</span>
                <span class="hidden-text-collapsed">Lire moins</span>
              </button>
            </div>
          </div>
          <h5 class="text-uppercase mt-4">Témoignage</h5>
          <div class="text-collapse" ref="text_collapse_testimonial" v-bind:class="textCollapseClsTestimonial">
            <div class="target font-italic">
              {{ site.testim_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('testimonial')">
                <span class="visible-text-collapsed">Lire plus</span>
                <span class="hidden-text-collapsed">Lire moins</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      oppv.comparator({
        site: {{site | tojson}},
        photos: {{photos | tojson}}
      })
    }
  };

</script>

{% endblock %}
