<template id="tpl-app-comparator-v2">
  <div class="app-comparator">
    <div class="mode-selector d-flex">
      <div class="col-6 p-0 justify-content-end d-flex">
        <span class="mode-selector-label">
          <span class="pr-2">Disposition des photos</span>
        </span>
      </div>
      <b-dropdown :text="curMode.label">
        <b-dropdown-item-button v-for="mode in modes" :key="mode.name" :active="mode.name == curMode.name"
          v-on:click="onBtnModeClick(mode)">
          <span v-html="mode.label"></span>
        </b-dropdown-item-button>
      </b-dropdown>
    </div>
    <app-comparator-v2-selector class="left" :items="photos" :selected-item="comparedPhotos[0]"
      v-on:item-click="onPhotoSelected(0, $event)"></app-comparator-v2-selector>
    <app-comparator-v2-selector class="right" :items="photos" :selected-item="comparedPhotos[1]" right
      v-on:item-click="onPhotoSelected(1, $event)"></app-comparator-v2-selector>
    <div class="row h-100">
      <div class="col col-map" v-bind:class="{'pr-2': curMode.name != 'sidebyside'}">
        <div class="h-100" ref="photo1"></div>
      </div>
      <div class="col col-map"
        v-bind:class="{'d-none': curMode.name == 'sidebyside', 'pl-2': curMode.name != 'sidebyside'}">
        <div class="h-100" ref="photo2"></div>
      </div>
    </div>
    <b-modal id="comparatorLoading" class="modal-contained" size="sm" static lazy centered no-fade no-close-on-backdrop
      no-close-on-esc hide-header hide-footer>
      <p class="mb-0">Chargement</p>
      <b-progress :value="100" variant="info" animated class="mt-1"></b-progress>
    </b-modal>
  </div>
</template>

<template id="tpl-app-comparator-v2-selector">
  <b-dropdown :text="selectedItem?.shot_on | dateFormat" class="photo-selector" lazy :right="right">
    <div class="mx-2">
      Filtrer par date
      <div class="d-flex justify-content-between align-items-center">
        <span>Début</span>
        <div>
          <input type="date" v-model="dateFrom" />
          <button class="btn btn-link px-1 py-0" type="button" v-on:click="dateFrom = null">
            <span class="material-icons">clear</span>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-1">
        <span>Fin</span>
        <div>
          <input type="date" v-model="dateTo" />
          <button class="btn btn-link px-1 py-0" type="button" v-on:click="dateTo = null">
            <span class="material-icons">clear</span>
          </button>
        </div>
      </div>
    </div>
    <b-dropdown-divider></b-dropdown-divider>
    <b-dropdown-item-button v-for="item in pageItems" v-bind:key="item.id" v-on:click="onItemSelected(item)">
      <span :inner-html.prop="item.shot_on | dateFormat"></span>
    </b-dropdown-item-button>
    <b-dropdown-divider></b-dropdown-divider>
    <div class="mx-2">
      <b-pagination v-model="currentPage" :total-rows="nbFilteredItems" :per-page="perPage"></b-pagination>
    </div>
  </b-dropdown>
</template>