{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comparateur_style.css') }}">
<script src="{{ url_for('static', filename='js/comparator.js') }}"></script>
{% endblock %}

{% block header_title %}
<h2>Comparaison de photos</h2>
{% endblock %}

{% block bodyClassNames %}page-comparateur{% endblock %}

{% block content %}
<div class="container-fluid" id="js-app-comparator">
  <b-modal id="modal1" class="modal-fs modal-no-footer modal-img" no-fade lazy>
    <div class="img-wrapper" v-for="photo in zoomPhotos">
      <img :src="photo.lg" />
    </div>
  </b-modal>
  <div class="row">
    <div class="col-auto">
      <ul class="list-unstyled thumbs clearfix">
        {% for photo in site.photos %}
        <li v-on:click="onThumbClick({{ loop.index - 1 }})">
          <img src="{{ photo.sm }}" />
          <span>{{ photo.date }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col col-main">
      <div class="row compared">
        <div class="col-12 p-0 text-right">
          <b-btn v-on:click="onZoomClick()" :size="'sm'" :variant="'link'" class="btn-zoom" v-b-modal.modal1>
            <i class="material-icons align-middle">fullscreen</i>
          </b-btn>
        </div>
        <div class="d-flex align-items-center col-lg-6">
          <div class="img-wrapper">
            <span class="position-relative async" v-bind:class="{ 'async-resolved': selectedPhotos[0].comparedLoaded }">
              <div class="hidden-async-resolved spinner">chargement</div>
              <img src="{{ site.photos[0].md }}" :src="selectedPhotos[0].md" @load="onComparedLoaded(0)" />
              <div class="w-100" v-html="selectedPhotos[0].date">{{ site.photos[0].date }}</div>
              <b-btn v-on:click="onZoomClick(0)" :size="'sm'" :variant="'link'" class="btn-zoom" v-b-modal.modal1>
                <i class="material-icons align-middle">fullscreen</i>
              </b-btn>
            </span>
          </div>
        </div>
        <div class="d-flex align-items-center col-lg-6">
          <div class="img-wrapper">
            <span class="position-relative async" v-bind:class="{ 'async-resolved': selectedPhotos[1].comparedLoaded }">
              <div class="hidden-async-resolved spinner">chargement</div>
              <img src="{{ site.photos[1].md }}" :src="selectedPhotos[1].md" @load="onComparedLoaded(1)" />
              <div class="w-100" v-html="selectedPhotos[1].date">{{ site.photos[1].date }}</div>
              <b-btn v-on:click="onZoomClick(1)" :size="'sm'" :variant="'link'" class="btn-zoom" v-b-modal.modal1>
                <i class="material-icons align-middle">fullscreen</i>
              </b-btn>
            </span>
          </div>
        </div>
        <div class="col-12 text-right pt-2 pb-3">
          <button class="btn btn-sm btn-primary text-uppercase">
            Notice technique pour le photographe <i class="icon ion-md-download ml-2"></i>
          </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col col-4">
          <img class="img-fluid" src="../static/assets/images/map-world.jpg" />
        </div>
        <div class="col col-8">
          <h5>Description</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ut elit lectus. Mauris at ornare lacus. Donec
            purus eros, consectetur vel purus fermentum, aliquet fringilla urna. Fusce ac ultricies nisi. Cras ut
            hendrerit ante, nec aliquet turpis. Quisque molestie porta libero sed efficitur. Aliquam et metus sed ipsum
            hendrerit tristique. Morbi ornare viverra dapibus. Vivamus tincidunt, arcu non rhoncus luctus, ipsum nisl
            tempus eros, non commodo risus augue a nisi. Pellentesque rhoncus nulla condimentum, molestie risus et,
            malesuada lacus. Donec ex augue, ultrices eget eleifend nec, bibendum a justo. Mauris ac viverra ipsum.
            Aliquam consectetur, velit a congue vulputate, eros eros dapibus tortor, eu blandit arcu nunc vitae ipsum.
            Vivamus efficitur venenatis turpis vehicula placerat. Sed eu magna enim.
          </p>
          <h5>Témoignage</h5>
          <p>
            Donec porta faucibus dignissim. Proin a mi non tortor egestas feugiat. Donec at rhoncus eros. Cras
            dignissim porttitor dolor eu tincidunt. Duis posuere in ex nec sollicitudin. Nam euismod ligula a nunc
            feugiat, at accumsan nulla luctus. Sed ac gravida tortor. Mauris mauris purus, tempor et purus et, posuere
            consequat urna. Sed eu neque ex. Cras nec pulvinar lorem, et euismod metus. Curabitur tempus, risus et
            ultricies ornare, nulla elit ultrices nunc, vel bibendum justo nibh hendrerit ante.

            In vestibulum vel nunc et accumsan. Maecenas sed mollis dui, et sollicitudin tortor. Suspendisse sit amet
            massa et eros porttitor vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            tristique consequat diam eu ultricies. Vivamus ut nulla rutrum, commodo ex vitae, mollis dui. Vivamus eget
            malesuada nisl. Quisque semper consectetur nibh porttitor sollicitudin. Pellentesque lobortis, est nec
            pellentesque auctor, velit felis ultrices urna, quis mollis mi velit vel risus. Proin vulputate tellus sed
            metus venenatis accumsan. Morbi non convallis leo. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Suspendisse mauris augue, convallis et ipsum id, sagittis rutrum nunc. Maecenas arcu sapien,
            consequat at facilisis vestibulum, elementum vel nibh. Praesent eleifend justo nisi, vel dictum felis
            tempor eget.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      initComparator({
        site: {{ site | tojson }}
      })
    }
  };

</script>

{% endblock %}
