{% extends "layout.html" %}
{% set active_page = 'gallery' %}
{% block title %}Galerie photos{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}


{% block bodyClassNames %}page-gallery{% endblock %}

{% block header_title %}
<h1>Galerie photos</h1>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
  {% for site in sites %}
    <div class="picture col-lg-2 col-md-3 col-sm-4 col-6">
      <a href="/comparator/{{ site.id_site }}">
        <img src="{{ site.photo }}" alt="Montagne vanoise">
      </a>
      <div class="discover">
        <a href="/comparator/{{ site.id_site }}">{{ site.name_site }} - {{ site.ville.ville_nom }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

<!-- <script>
    document.onreadystatechange = () => {
      if (document.readyState == 'complete') {
  
        var picture = document.querySelector('.picture');
        var container = document.querySelector('.container');
        var width = container.clientWidth;
        window.addEventListener('resize', () => {
          onResize()

        })
        onResize()
        function onResize() {
          var calc = "calc(" + width + " / 6)";
          picture.style.width = calc + 'px';
          picture.style.height = picture.style.width;
          console.log('width', picture.style.width)
  
        }
      }
    };
  </script> -->

{% endblock %}