{% extends "layout.html" %}
{% set active_page = 'home' %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block bodyClassNames %}page-home{% endblock %}

{% block header_title %}
<h1>L'Observatoire photographique des paysages de vanoise</h1>
{% endblock %}

{% block content %}
<div class="page-content">
  <div class="blocks">

    <div class="block block-map">
      <div class="js-map-wrapper h-100"></div>
      <a href="/map">EXPLOREZ LA CARTE INTERACTIVE</a>
    </div>

    {% for block in blocks %}
    <div class="block block-{{ loop.index }}">
      <div class="img" style="background-image: url('{{ block.get('photo').get('url') }}');"></div>
      <div class="discover">
        Découvrir ce site photographique
      </div>
      <div class="legend">
        <h6>Photographie</h6>
        <h5>{{ block.get('site').get('name_site') }}</h5>
        {{ block.get('site').get('desc_site') }}
      </div>
      <a href="/comparator/{{ block.get('site').get('id_site') }}"></a>
    </div>
    {% endfor %}
    
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      oppv.initHome({
        sites: {{sites | tojson}}
      })
    }
  }
</script>
{% endblock %}