{% extends "layout.jinja" %}
{% set active_page = 'home' %}
{% block title %}{{ _('home.meta_title') }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_mono_obs.css') }}">

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/home_mono_obs.js') }}"></script>
{% endblock %}

{% block bodyClassNames %}page-home{% endblock %}

{% block header_title %}
{% if carousel_photos|length <= 0 %}
<h1>{{ _('home.title') }}</h1>
{% endif %}
{% endblock %}

{% block title_mobile %}{{ _('home.title_mobile') }}{% endblock title_mobile %}

{% block content %}
<div class="page-content">

  {% include 'components/home-carousel.jinja' %}

  {% set intro_locale = dbconf.get('home_intro_' + locale.__str__()) %}
  {% set intro = intro_locale if intro_locale else dbconf.get('home_intro', '') %}
  {% if dbconf.home_intro_position == 'top': %}
  {% autoescape false %}{{ intro }}{% endautoescape %}
  {% endif %}

  <div class="blocks mt-4">

    <div class="block block-map">
      <div class="js-map-wrapper h-100"></div>
      <a href="/sites">{{ _('home.block.explore_sites') }}</a>
    </div>

    {% for block in blocks %}
    <div class="block block-{{ loop.index }}">
      <div class="img" style="background-image: url('{{ getThumborUrl('800x', block.get('photo')) }}');"></div>
      <div class="discover">
        {{ _('home.block.discover') }}
      </div>
      <div class="legend">
        <h6>{{ _('home.block.photography') }}</h6>
        <h5>{{ block.get('name_site') }}<br />{{ block.get('commune').get('nom_commune') }}</h5>
        {{ block.get('legend_site') }}
      </div>
      <a href="/sites/{{ block.get('id_site') }}"></a>
    </div>
    {% endfor %}
    
  </div>

  {% if dbconf.home_intro_position == 'bottom': %}
  {% autoescape false %}{{ intro }}{% endautoescape %}
  {% endif %}
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      geopsg.initHome({
        carousel: {
          photos: {{carousel_photos | tojson}},
        }
      });
      geopsg.initHomeMono({
        sites: {{sites | tojson}}
      })
    }
  }
</script>
{% endblock %}