{% extends "layout.jinja" %}
{% set active_page = 'home' %}
{% block title %}{{ _('home.meta_title') }}{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_multi_obs.css') }}">

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/wellknown.js') }}"></script>
<script src="{{ url_for('static', filename='js/sites-utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/home_multi_obs.js') }}"></script>
{% endblock %}

{% block bodyClassNames %}page-home{% endblock %}

{% block header_title %}
{% if carousel_photos|length <= 0 %}
<h1>{{ _('home.title') }}</h1>
{% endif %}
{% endblock %}

{% block title_mobile %}{{ _('home.title_mobile') }}{% endblock title_mobile %}

{% block content %}
<div class="page-content">

  {% include 'components/home-carousel.jinja' %}

  {% set home_block_1 = dbconf.get('home_block_1_' + locale.__str__()) if dbconf.get('home_block_1_' + locale.__str__()) else dbconf.get('home_block_1', '') %}
  {% autoescape false %}{{ home_block_1 }}{% endautoescape %}

  <div class="container-fluid px-0 my-4 my-md-5">
    {% set count = namespace(value=0) %}
    {% set is_break = namespace(value=false) %}

    {% for i in range(patchwork_options.nb_rows) %}

      <div class="d-md-flex justify-content-center">

        {% for j in range(patchwork_options.nb_cols) %}

          {% if is_break.value == false %}
          
            {% if observatories[count.value] is defined  %}
              <div class="patchwork-item">
                <a class="d-block w-100 h-100 position-relative" href='/sites?filters=[{"name":"id_observatory","values":[{{ observatories[count.value].id }}]}]'>  
                  <img class="w-100 h-100" src="{{ getThumborUrl('700x200', observatories[count.value].photo) }}">
                  <span class="d-flex flex-column justify-content-center align-items-center text-center position-absolute w-100 h-100 info text-white">
                    <span class="text-uppercase text-shadow">{{ observatories[count.value].title }}</span>
                    <button type="button" class="btn btn-outline-light d-none">Voir</button>
                  </span>
                </a>
              </div>

            {% else %}

                <div class="text-center text-white text-uppercase patchwork-item d-flex" style="background-color: #447e72;">
                  <a href='/sites' class="d-flex align-items-center justify-content-center w-100">
                    Découvrez nos observatoires
                  </a>
                </div>

                {% set is_break.value = true %}

            {% endif %}

            {% set count.value = count.value + 1 %}

          {% endif %}

        {% endfor %}

      </div>

    {% endfor %}  
  </div>

  {% set home_block_2 = dbconf.get('home_block_2_' + locale.__str__()) if dbconf.get('home_block_2_' + locale.__str__()) else dbconf.get('home_block_2', '') %}
  {% autoescape false %}{{ home_block_2 }}{% endautoescape %}

  <div class="container-xl">
    <div class="text-center">
      <a href="/sites">{{ _('home.map_block_title') }}</a>
    </div>
    <a class="d-block map-block position-relative" href="/sites">
      <div class="map-overlay position-absolute h-100 w-100 d-flex justify-content-center align-items-center">
        <button class="btn btn-primary">{{ _('home.block.explore_sites') }}</button>
      </div>
      <div class="js-map-wrapper h-100"></div>
    </a>
  </div>

  {% set home_block_3 = dbconf.get('home_block_3_' + locale.__str__()) if dbconf.get('home_block_3_' + locale.__str__()) else dbconf.get('home_block_3', '') %}
  {% autoescape false %}{{ home_block_3 }}{% endautoescape %}

</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      geopsg.initHome({
        carousel: {
          photos: {{carousel_photos | tojson}},
        }
      });
      geopsg.initHomeMulti({
        observatories: {{observatories | tojson}},
        patchwork_options: {{patchwork_options | tojson}},
        sites: {{sites | tojson}}
      })
    }
  }
</script>
{% endblock %}