<!doctype html>
<html>

<head>{% block head %}
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Hind:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-vue/dist/bootstrap-vue.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="{{ url_for('static', filename='vendor/lodash.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/vue/dist/vue.js') }}"></script>

  <!-- Add this after vue.js -->
  <script src="{{ url_for('static', filename='vendor/babel-polyfill/dist/polyfill.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-vue/dist/bootstrap-vue.js') }}"></script>

  {% endblock %}
  <title>{{ titre }}</title>
</head>

<body class="{% block bodyClassNames %}{% endblock %}">
  <div>
    <header class="container-fluid" id="header">
      <img class="header-logo" src="{{ url_for('static', filename='images/logo_txt_bleu.png') }}" />
      <div class="row nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <b-btn v-b-toggle.collapse class="navbar-toggler" variant="light"><span class="navbar-toggler-icon"></span></b-btn>
          <b-collapse class="collapse navbar-collapse flex-grow-0" id="collapse">
            <ul class="navbar-nav sans-serif">
              <li class="nav-item ">
                <a class="nav-link " href="#">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Galerie photo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" >Carte interactive</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </b-collapse>
        </nav>
      </div>
      <div class="row header-title">{% block header_title %}
        {% endblock %}
      </div>
    </header>

    {% block content %}{% endblock %}</div>
    <footer class="app-footer">
      {% block footer %}
      <img class="logo" src="{{ url_for('static', filename='images/logo_txt_blanc.png') }}" />
      <hr class="mt-4" />
      <div class="text-light">&copy;2018 Parc national de la Vanoise</div>
      {% endblock %}
    </footer>
  </div>
  <script type="text/javascript">
    window.onload =
      new Vue({
        el: '#header',
        data: {
          name: 'GéoPaysage'
        },
      })
  </script>
</body>

</html>
