<!doctype html>
<html>

<head>{% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i|Hind:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-vue/bootstrap-vue.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet-easybutton/easy-button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet-fullscreen/leaflet.fullscreen.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom/css/custom-style.css') }}">

  <script src="{{ url_for('static', filename='vendor/lodash.js') }}"></script>
  {% if debug: %}
  <script src="{{ url_for('static', filename='vendor/vue.js') }}"></script>
  {% else %}
  <script src="{{ url_for('static', filename='vendor/vue.min.js') }}"></script>
  {% endif %}

  <!-- Add this after vue.js -->
  <!-- <script src="{{ url_for('static', filename='vendor/babel-polyfill/dist/polyfill.min.js') }}"></script> -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap-vue/bootstrap-vue.min.js') }}"></script>

  {% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

{% set active_page = active_page|default('') -%}

<body class="{% block bodyClassNames %}{% endblock %}">

    <header class="container-fluid" id="header">
      <a href="/">
        <img class="header-logo" src="{{ url_for('static', filename='custom/logo/logo_txt_color.png') }}" />
      </a>
      <div class="row nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <b-btn v-b-toggle.collapse class="navbar-toggler" variant="light"><span class="navbar-toggler-icon"></span></b-btn>
          <b-collapse class="collapse navbar-collapse flex-grow-0" id="collapse">
            <ul class="navbar-nav sans-serif">
              <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
                <a class="nav-link " href="/">{{ _('header.nav.home') }}</a>
              </li>
              <li class="nav-item {% if active_page == 'map' %}active{% endif %}">
                <a class="nav-link" href="/map" >{{ _('header.nav.map') }}</a>
              </li>
              <li class="nav-item {% if active_page == 'gallery' %}active{% endif %}">
                <a class="nav-link" href="/gallery">{{ _('header.nav.gallery') }}</a>
              </li>
            </ul>
          </b-collapse>
        </nav>
      </div>
      <div class="row header-title">{% block header_title %}
        {% endblock %}
      </div>
    </header>

    {% block content %}{% endblock %}
    <footer class="app-footer">
      {% block footer %}
      <div class="col-lg-11 col-xl-10">
        <img class="logo mb-4" src="{{ url_for('static', filename='custom/logo/logo_txt_blanc.png') }}" />

        <div class="footer-menu">
          <h6>{{ _('footer.internal_title') }}</h6>
          <ul class="mb-4">
            <li>
              <a href="/">
                {{ _('footer.internal_links.home') }}
              </a>
            </li>
            <li>
              <a href="/map">
                {{ _('footer.internal_links.map') }}
              </a>
            </li>
            <li>
              <a href="/gallery">
                {{ _('footer.internal_links.gallery') }}
              </a>
            </li>
            {% if dbconf.mailto_contact: %}
            <li>
              <a href="mailto:{{ dbconf.mailto_contact }}">
                {{ _('footer.internal_links.contact') }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>

        <div class="footer-contact">
        {% if dbconf.external_links|length: %}
          <h6>{{ _('footer.external_title') }}</h6>
          <ul>
          {% for external_link in dbconf.external_links %}
            <li>
              <a href="{{ external_link.url }}" target="_blank">
                  {{ external_link.label }}
              </a>
            </li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>
      </div>
      

      <hr class="mt-4" />

      <div class="text-light">{{ _('footer.copyright') }}</div>
      {% endblock %}
    </footer>
    
  <script type="text/javascript">
    window.onload =
      new Vue({
        el: '#header',
        data: {
          name: 'GéoPaysage'
        },
      })
  </script>
</body>

</html>
