{% extends "layout.html" %}
{% set active_page = 'map' %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block header_title %}
<h3 class="text-uppercase">La Carte Intéractive</h3>
{% endblock %}

{% block bodyClassNames %}page-map{% endblock %}

{% block content %}

<div id="js-app-map" class="app-map container-fluid" v-bind:class="{'sidebar-collapsed': isSidebarCollapsed}">
  <div class="row h-100 position-relative">
    <div class="sidebar">
      <div class="sidebar-content">
        <b-card no-body class="mb-1 card-group border-0 d-block rounded-0">
          <b-card-header header-tag="header" class="p-0">
            <b-btn block href="#" class="rounded-0 card-group-header-btn" v-b-toggle="'app_map_filters'" variant="secondary">
              <span>FILTRER PAR</span> 
              <i class="icon ion-ios-arrow-down visible-collapsed"></i>
              <i class="icon ion-ios-arrow-up hidden-collapsed"></i>
            </b-btn>
          </b-card-header>
          <b-collapse :id="'app_map_filters'" visible>
            <b-card-body class="p-3">
              <div class="filters">
                <b-card no-body class="m-0 rounded-0" v-for="(filter) in filters">
                  <b-card-header header-tag="header" class="p-0 border-0">
                    <b-btn block href="#" v-b-toggle="'app_map_filter_' + filter.name" variant="link" class="rounded-0 text-left">
                      <span v-html="filter.label"></span>
                      <i class="icon ion-md-add visible-collapsed"></i>
                      <i class="icon ion-ios-remove hidden-collapsed"></i>
                    </b-btn>
                  </b-card-header>
                  <b-collapse :id="'app_map_filter_' + filter.name">
                    <b-card-body>
                      <b-button-group vertical class="w-100">
                        <b-button class="btn-block btn-primary inverse btn-filter" v-for="item in filter.items"
                          :pressed.sync="item.isSelected" v-on:click="onFilterClick(filter, item)" v-html="item.label"></b-button>
                      </b-button-group>
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </div>
            </b-card-body>
          </b-collapse>
        </b-card>



      </div>
      <div class="btn-toggle btn-big-icon" @click="isSidebarCollapsed = !isSidebarCollapsed">
        <i class="icon ion-ios-arrow-back" v-if="!isSidebarCollapsed"></i>
        <i class="icon ion-ios-arrow-forward" v-if="isSidebarCollapsed"></i>
      </div>
    </div>
    <div class="col p-0">
      <div class="map-wrapper h-100" ref="map"></div>
    </div>
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      oppv.initMap({
        sites: {{sites | tojson}},
        filters: {{filters | tojson}}
      })
    }
  };

</script>
{% endblock %}
