{% extends "layout.html" %}
{% set active_page = 'sample_page' %}
{% block title %}Sample meta title{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/page-sample.css') }}">
{% endblock %}


{% block bodyClassNames %}page-sample{% endblock %}

{% block header_title %}
<h1>Sample</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{ url_for('static', filename='images/sample.png') }}" />
    </div>
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus magna lectus, auctor nec dapibus a, sagittis
        sit amet diam. In vehicula est quam, id volutpat arcu molestie sed. Nam vestibulum tempor urna. Nulla in lectus
        et augue tempus pellentesque quis non justo. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Etiam pharetra nisi ligula, at volutpat leo condimentum eu. Vivamus pretium blandit
        interdum.
      </p>
      <p>
        Quisque maximus vitae tortor eu dignissim. Sed sed lectus consequat, molestie dolor a, auctor nisl. Praesent
        aliquam id lacus ac congue. Nulla quis ultrices eros. Nullam efficitur nulla quis magna sollicitudin, sit amet
        placerat felis dictum. Ut eu accumsan risus, scelerisque varius augue. Curabitur eleifend in orci at
        vestibulum.
      </p>
      <p>
        Sed convallis ornare venenatis. Donec vitae molestie felis. Morbi tortor erat, ultrices sed faucibus sit amet,
        viverra at lorem. Ut a eros tempus enim euismod tempor eget ut nunc. Donec nec urna ac ipsum dapibus tempor eu
        a nibh. Cras nisi ante, congue quis pulvinar ac, feugiat nec justo. Aliquam et pharetra sem.
      </p>
      <p>
        Sed convallis ornare venenatis. Donec vitae molestie felis. Morbi tortor erat, ultrices sed faucibus sit amet,
        viverra at lorem. Ut a eros tempus enim euismod tempor eget ut nunc. Donec nec urna ac ipsum dapibus tempor eu
        a nibh. Cras nisi ante, congue quis pulvinar ac, feugiat nec justo. Aliquam et pharetra sem.
      </p>
    </div>
  </div>
</div>
{% endblock %}
