{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sites_admin.css') }}">
{% endblock %}

{% block header_title %}
<h1>Gérer les sites photographiques</h1>
{% endblock %}

{% block bodyClassNames %}page-sitesadmin{% endblock %}

{% block content %}

<div class="container sites" style="margin: 0 auto;">
  <div class="row">
   <section class="LeftPart col-lg-6 col-md-12">
    
    <ul class="row">
      <li class="col-lg-6 col-md-6 col-12 d-flex">
        <div class="image">
           <img src="/static/images/100.png" alt="" class="img">
        </div>
        <div class="text">
          <button class="add-btn">AJOUTER UN SITE</button>
        </div>
        
      </li>
      <li class="col-lg-6 col-md-6 col-12 d-flex">
        <div class="image">
          <img src="/static/images/100.png" alt="" class="img">
          <div class="img-btns">
            <span class="view"><img src="/static/images/view.svg"></span>
            <span class="edit"><img src="/static/images/edit.svg"></span>
            <span class="delete"><img src="/static/images/delete.svg"></span>
          </div>
        </div>
        <div class="text">
          <p>REF : ------</p>
          <p>VILLE, FRANCE</p>
        </div>
        
      </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>

        <li class="col-lg-6 col-md-6 col-12 d-flex">
          <div class="image">
            <img src="/static/images/100.png" alt="" class="img">
            <div class="img-btns">
              <span class="view"><img src="/static/images/view.svg"></span>
              <span class="edit"><img src="/static/images/edit.svg"></span>
              <span class="delete"><img src="/static/images/delete.svg"></span>
            </div>
          </div>
          <div class="text">
            <p>REF : ------</p>
            <p>VILLE, FRANCE</p>
          </div>
        </li>
    </ul>

   </section>

   <section class="RightPart col-lg-6">
    <div class="toggle-map">
      <span>></span>
    </div>
    
  </section>
  </div>
</div>

<!--   <script>
    document.onreadystatechange = () => {
      if (document.readyState == 'complete') {
  
        var picture = document.querySelector('.picture');
        var container = document.querySelector('.container');
        var width = container.clientWidth;
        window.addEventListener('resize', () => {
          onResize()

        })
        onResize()
        function onResize() {
          var calc = "calc(" + width + " / 6)";
          picture.style.width = calc + 'px';
          picture.style.height = picture.style.width;
          console.log('width', picture.style.width)
  
        }
      }
    };
  </script> -->

{% endblock %}