{% extends "layout.html" %}
{% block title %}{{ site.name_site }}{% endblock %}
{% block head %}
{% if comparator_version == 1: %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" />
{% endif %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/comparator-v' + comparator_version|string + '.css') }}" />

<script src="{{ url_for('static', filename='vendor/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
{% if comparator_version == 1: %}
<script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
{% endif %}
{% if comparator_version == 2: %}
<script src="{{ url_for('static', filename='vendor/leaflet-side-by-side.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/L.Map.Sync.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/leaflet-gesture-handling/leaflet-gesture-handling.css') }}" type="text/css">
<script src="{{ url_for('static', filename='vendor/leaflet-gesture-handling/leaflet-gesture-handling.min.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="{{ url_for('static', filename='js/comparator-v' + comparator_version|string + '.js') }}"></script>
{% endblock %}

{% block header_title %}
<h3 class="text-uppercase">{{ site.name_site }} | {{ site.ville.nom_commune }} <small class="text-lowercase">(réf. : {{ site.ref_site }})</small></h3>
{% endblock %}

{% block bodyClassNames %}page-site with-comparator-v{{ comparator_version }} {% if site.testim_site %}with-testimonial{% endif %}{% endblock %}

{% block content %}
<div class="page-content container-fluid" id="js-app-site">
  <div class="text-center mb-3"><i>{{ site.legend_site }}</i></div>
  <div class="row">
    <div class="col col-main">
      <div id="js-app-comparator" class="app-comparator" v-pre>
        {% include 'comparator-v'+ comparator_version|string +'.html' %}
      </div>
      <div class="container-fluid">
      <div class="row mt-3 info">
        <div class="col-lg-5 pl-0 mb-5 text-right">
          <div class="map-wrapper" ref="map"></div>
          {% if site.path_file_guide_site: %}
          <a class="btn btn-sm btn-primary text-uppercase mb-2" href="{{ url_for('static', filename='data/notice-photo/' + site.path_file_guide_site) }}" target="_blank">
            {{ _('obs_point.buttons.notice') }} <i class="icon ion-md-download ml-2"></i>
          </a>
          {% endif %}
          {% if dbconf.mailto_observation: %}
          <a class="btn btn-sm btn-primary text-uppercase mb-2" href="mailto:{{ dbconf.mailto_observation|replace('%ref_site%', site.ref_site) }}">
            {{ _('obs_point.buttons.obs') }} <i class="icon ion-ios-eye ml-2"></i>
          </a>
          {% endif %}
        </div>
        <div class="col-lg-7 pr-0">
          <h5 class="text-uppercase">{{ _('obs_point.description') }}</h5>
          <div class="text-collapse" ref="text_collapse_description" v-bind:class="textCollapseClsDescription">
            <div class="target font-italic">
              {{ site.desc_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-sm btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('description')">
                <span class="visible-text-collapsed">{{ _('obs_point.buttons.read_more') }}</span>
                <span class="hidden-text-collapsed">{{ _('obs_point.buttons.read_less') }}</span>
              </button>
            </div>
          </div>
          {% if site.testim_site %}
          <h5 class="text-uppercase mt-4">{{ _('obs_point.testimonials') }}</h5>
          <div class="text-collapse" ref="text_collapse_testimonial" v-bind:class="textCollapseClsTestimonial">
            <div class="target font-italic">
              {{ site.testim_site }}
            </div>
            <div class="gradient text-right visible-text-collapsable pt-3">
              <button class="btn btn-sm btn-secondary font-weight-bold visible-text-collapsable" @click="toggleTextCollapse('testimonial')">
                <span class="visible-text-collapsed">{{ _('obs_point.buttons.read_more') }}</span>
                <span class="hidden-text-collapsed">{{ _('obs_point.buttons.read_less') }}</span>
              </button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script>
  document.onreadystatechange = () => {
    if (document.readyState == 'complete') {
      geopsg.site({
        dbconf: {{dbconf | tojson}},
        site: {{site | tojson}},
        //photos: {{photos | tojson}}
      });
      geopsg.comparator({
        dbconf: {{dbconf | tojson}},
        site: {{site | tojson}},
        photos: {{photos | tojson}},
      });
    }
  };
</script>

{% endblock %}
