<ngx-spinner size="medium" type="ball-spin"> </ngx-spinner>
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-table">
      <div *ngIf="loadForm" class="observatory-block">
        <form [formGroup]="observatoryForm" (submit)="submitObservatory(observatoryForm)" disabled>
          
          <ngb-tabset class="tab-container" (tabChange)="changeTab($event)" formGroupName="translations">
            <ngb-tab *ngFor="let lang of availableLang; let i = index" [id]="lang.id" [title]="lang.label" class="tab-item"  formGroupName="{{ lang.id }}">
              <ng-template ngbTabContent>
                <div class="card custom-card">
                  <div class="tab-content">
                    <div class="inner-checkbox form-group">
                      <div class="label">{{ 'ACTIONS.PUBLISH_DEFAULT' | translate }}:</div>
                      <label class="switch">
                        <input formControlName="is_published" type="checkbox" class="success form-control" />
                        <span [ngClass]="{
                            'slider-disabled': !this.isEditing
                          }" class="slider round"></span>
                      </label>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <label class="label" for="observatory-title">{{ 'FIELDS.NAME' | translate: {article:('ARTICLES.DE_L' | translate), varname: ('OBSERVATORIES_MNGMT.OBSERVATORY' | translate) }  }}*</label>
                        <input InputFeedBack type="text" formControlName="title" id="observatory-title" class="form-control"
                          placeholder="{{ 'FIELDS.NAME' | translate: {article:('ARTICLES.DE_L' | translate), varname: ('OBSERVATORIES_MNGMT.OBSERVATORY' | translate) }  }}" />
                        <app-form-error controlName="title" errorKey="required"></app-form-error>
                      </div>
                    </div>
          
          
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>





          <div class="row mb-3">
            <div class="col-6">
              <label class="label" for="observatory-ref">{{'COMMONS.REFERENCE' | translate }}</label>
              <input InputFeedBack type="text" formControlName="ref" id="observatory-ref" class="form-control"
                placeholder="{{'COMMONS.REFERENCE' | translate }}"/>
              <app-form-error controlName="ref" errorKey="required"></app-form-error>
            </div>
            <div class="col-6">
              <div class='row justify-content-between'>
                <div class='col-6'>
                  <label class="label" for="observatory-color">{{ 'OBSERVATORIES_MNGMT.THEME_COLOR' | translate }}</label>
                </div>
                <div class='col-6 text-right'>
                  <span class="icon-info" placement="top" ngbTooltip="{{ 'OBSERVATORIES_MNGMT.TOOLTIP_THEME_COLOR' | translate }}"></span>
                </div>
              </div>

              <input InputFeedBack type="text" formControlName="color" id="observatory-color" class="form-control"
                placeholder="#454545" />
              <app-form-error controlName="color" errorKey="required"></app-form-error>
            </div>
            <div class='col-6'>

            </div>

          </div>
          <div class="row mb-3">
            <div class="col-6">
              <div class='row justify-content-between'>
                <div class='col-6'>
                  <label class="label" for="observatory-color">{{ 'COMMONS.THUMBNAIL' | translate }}</label>
                </div>
                <div class='col-6 text-right'>
                  <span class="icon-info" placement="top"
                    ngbTooltip="{{ 'OBSERVATORIES_MNGMT.TOOLTIP_THUMBNAIL' | translate }}"></span>
                </div>
              </div>
              <div>
                <div *ngIf="observatory?.thumbnail">
                  <a [href]="photoBaseUrl + 'noxl/'+ observatory?.thumbnail" target="_blank">
                    {{ observatory?.thumbnail }} <i class="icon-eye"></i>
                  </a>
                </div>
              </div>
              <input style="display: none" accept="image/jpeg" type="file"
                (change)="onThumbChange($event)" #thumbnailInput />
              <button type="button" *ngIf="!selectedThumb" class="blue-btn w-100" (click)="thumbnailInput.click()"
                [disabled]="!isEditing">
                {{ observatory?.thumbnail ? ('ACTIONS.MODIFY' | translate: { article: ('ARTICLES.LA' | translate), varname: ('COMMONS.THUMBNAIL' | translate) })  : ('ACTIONS.IMPORT' | translate: { article: ('ARTICLES.UNE' | translate), varname: ('COMMONS.THUMBNAIL' | translate) }) }}

              </button>
              <div *ngIf="selectedThumb">
                {{ 'OBSERVATORIES_MNGMT.THUMBNAIL_SELECTED' | translate}}:<br />
                <button class="btn p-0" type="button" (click)="onThumbCancel(thumbnailInput)">
                  <i class="icon-cancel-circle text-danger"></i>
                </button>
                {{ selectedThumb.name }}
              </div>
              <br>
              <small class="text-secondary">{{ 'OBSERVATORIES_MNGMT.ADVICE_THUMBNAIL' | translate }}</small>
            </div>
            <div class="col-6">
              <div class='row justify-content-between'>
                <div class='col-6'>
                  <label class="label" for="observatory-color">{{'COMMONS.LOGO' | translate }}</label>
                </div>
                <div class='col-6 text-right'>
                  <span class="icon-info" placement="top"
                    ngbTooltip="{{ 'OBSERVATORIES_MNGMT.TOOLTIP_LOGO' | translate }}"></span>
                </div>
              </div>
              <div>
                <div *ngIf="observatory?.logo">
                  <a [href]="photoBaseUrl + 'noxl/'+ observatory?.logo" target="_blank">
                    {{ observatory?.logo }} <i class="icon-eye"></i>
                  </a>
                </div>
              </div>
              <input style="display: none" accept="image/x-png" type="file"
                (change)="onLogoChange($event)" #logoInput />
              <button type="button" *ngIf="!selectedLogo" class="blue-btn w-100" (click)="logoInput.click()"
                [disabled]="!isEditing">
                {{ observatory?.logo ? ('ACTIONS.MODIFY' | translate: { article: ('ARTICLES.LE' | translate), varname: ('COMMONS.LOGO' | translate) })  : ('ACTIONS.IMPORT' | translate: { article: ('ARTICLES.UN' | translate), varname: ('COMMONS.LOGO' | translate) }) }}
              </button>
              <div *ngIf="selectedLogo">
                {{ 'OBSERVATORIES_MNGMT.LOGO_SELECTED' | translate}} :<br />
                <button class="btn p-0" type="button" (click)="onLogoCancel(logoInput)">
                  <i class="icon-cancel-circle text-danger"></i>
                </button>
                {{ selectedLogo.name }}
              </div>
              <br>
              <small class="text-secondary">{{ 'OBSERVATORIES_MNGMT.ADVICE_LOGO' | translate }}</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="label" for="observatory-geom">{{ 'OBSERVATORIES_MNGMT.ZONING' | translate }}</label>
              <textarea InputFeedBack formControlName="geom" id="observatory-geom" rows="5" class="form-control"
                placeholder="{{'OBSERVATORIES_MNGMT.PLACEHOLDER_ZONING' | translate}}"></textarea>
              <app-form-error controlName="geom" errorKey="required"></app-form-error>
            </div>
          </div>
          <ngb-alert class="alert" *ngIf="alert" [dismissible]="false" [type]="alert.type">{{ alert.message }}
          </ngb-alert>
          <div class="submit-btn-group">
            <button type="button" *ngIf="id_observatory" class="btn btn-outline-warning btn-edit"
              [class.active_edit]="isEditing" (click)="editForm()">
              <i class="icon-pencil"></i>{{ edit_btn_text | translate }}
            </button>
            <button class="btn btn-outline-success btn-submit" type="submit" [disabled]="!isEditing">
              {{ submit_btn_text | translate }}
            </button>
            <button class="btn btn-outline-secondary btn-cancel" type="button" (click)="onCancel()">
              {{ 'BUTTONS.BACK_TO_LIST' | translate }}
            </button>
          </div>
          <div *ngIf="isInvalidForm" class="error-message-container">
            <p class="error-message" [innerText]="errorMessage"></p>
           </div>
        </form>
      </div>
    </div>
  </div>
</div>