<div id="js-app-home-carousel" class="app-home-carousel d-none d-md-block  position-relative">
  <h1 class="position-absolute text-white pt-5 pr-5 pl-2 m-0 col-12 col-lg-8 col-xl-5">{{ _('home.title') }}</h1>
  <b-carousel
    fade
    :interval="5000"
    img-width="1500"
    img-height="500"
  >
    <b-carousel-slide 
      v-for="photo in photos" 
      v-bind:style="{ 'background-image': 'url(/static/custom/home-carousel/'+ photo +')' }"
      img-blank
    ></b-carousel-slide>
  </b-carousel>
</div>
<h1 class="d-md-none text-center mb-0 px-3">{{ _('home.title') }}</h1>