<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-table">
      <div *ngIf="!addSite">
        <h4 class="title">Gérer les sites photographiques</h4>
        <button class=" green-btn btn-add" (click)="onAddSite()"> Ajouter un site photo</button>
        <div>
          <ngx-datatable *ngIf="sitesLoaded" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator"
            [headerHeight]="40" [summaryPosition]="'bottom'" [footerHeight]="40" [limit]="6" [rowHeight]="'auto'"
            [reorderable]="reorderable" [selectionType]="'single'" (select)='onSelect($event)'>
            <ngx-datatable-column name="Photo">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <img class="main-photo" src="{{row.main_photo}}" alt="" width="80">
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nom du site" width="400">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.name_site}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Code postal">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.code_city_site}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Publié">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <label class="switch ">
                  <input type="checkbox" class="success" [checked]="row.publish_site" disabled>
                  <span class="slider round"></span>
                </label>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <app-add-site *ngIf="addSite" (cancel)="onCancel($event)"></app-add-site>
    </div>
    <div class="col-6 col-map">
      <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
  </div>

</div>
