/* .page-comparator .header-logo {
    position: fixed;
} */

.page-comparator #header {
    margin-bottom: 0;
}

.page-comparator:not(.with-testimonial) .text-collapse.text-collapsable.text-collapsed .target {
    max-height: 220px;
}

.page-comparator .page-content {
    padding: 0 90px;
}

.page-comparator .page-content .img-date {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}

.page-comparator .page-content .compared {
    background-color: #EFEFEF;
}

.page-comparator .page-content .compared .progress {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-comparator .page-content .compared .progress-bar {
    width: 100%;
}

.page-comparator .page-content .compared .img-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-comparator .page-content .compared .img-wrapper img {
    max-width: 100%;
    /* max-height: 560px; */
    max-height: calc(100vh - 382px);
    width: auto;
    height: auto;
    cursor: pointer;
}

.page-comparator .page-content .compared .img-wrapper .img-tools {
    position: absolute;
    top: 0;
    right: 0;
}

.page-comparator .page-content .compared .img-tools .btn {
    text-shadow: #fff;
    text-shadow: 1px 1px 0 #FFF;
}

.page-comparator .page-content .map-wrapper {
    height: 315px;
    margin-bottom: 20px;
}

/* .page-comparator .page-content .thumbs .thumb:nth-child(1),
.page-comparator .page-content .thumbs .thumb:nth-child(2) {
    margin-top: 0;
} */

.page-comparator .page-content .thumbs .thumb img {
    /* width: 100%;
    height: auto; */
    background: #CCC;
    height: 100px;
    width: auto;
}

.page-comparator .page-content .thumbs .thumb.selected .img-date {
    color: var(--color-primary);
    font-weight: bold;
}

.page-comparator .thumbs {
    width: 100%;
    position: relative;
}

.page-comparator .thumbs .btn-arrow {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
}

.page-comparator .thumbs .btn-arrow:not(.swiper-button-disabled) {
    animation-name: blink-3;
    animation-duration: .5s;
}

.page-comparator .thumbs .btn-prev {
    right: 100%;
    margin-right: 10px;
}

.page-comparator .thumbs .btn-next {
    left: 100%;
    margin-left: 10px;
}

.page-comparator .thumbs .swiper-button-disabled {
    visibility: hidden;
}

.page-comparator .thumbs .swiper-container {
    width: 100%;
}

.page-comparator .thumbs .swiper-slide {
    display: inline-block;
    width: 100px;
    cursor: pointer;
}

.linebreak {
    white-space: pre-line;
    line-height: 1.2em;
    margin-top: -1.2em;
}