/* .page-comparateur .header-logo {
    position: fixed;
} */

.page-comparateur .page-content {
    margin: 0 60px;
}

.page-comparateur .page-content .col-thumbs {
    /* width: 290px; */
}

.page-comparateur .page-content .thumbs {
    /* width: 260px;
    height: calc(100vh - 110px);
    overflow: auto;
    position: fixed;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; */
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

/* .page-comparateur .page-content .thumbs::-webkit-scrollbar {
    width: 0 !important;
} */

.page-comparateur .page-content .thumbs li {
    margin: 5px;
    /* width: calc(50% - 10px);
    display: block;
    float: left; */
    cursor: pointer;
    display: inline-block;
}

/* .page-comparateur .page-content .thumbs li:nth-child(1),
.page-comparateur .page-content .thumbs li:nth-child(2) {
    margin-top: 0;
} */

.page-comparateur .page-content .thumbs li img {
    /* width: 100%;
    height: auto; */
    background: #CCC;
    height: 100px;
    width: auto;
}

.page-comparateur .page-content .img-date {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}

.page-comparateur .page-content .thumbs li.selected .img-date {
    color: var(--color-primary);
    font-weight: bold;
}

.page-comparateur .page-content .compared {
    background-color: #dcdcdc;
}

.page-comparateur .page-content .compared .progress {
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-comparateur .page-content .compared .progress-bar {
    width: 100%;
}

.page-comparateur .page-content .compared .img-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-comparateur .page-content .compared .img-wrapper img {
    max-width: 100%;
    /* max-height: 560px; */
    max-height: calc(100vh - 395px);
    width: auto;
    height: auto;
}

.page-comparateur .page-content .compared .img-wrapper .btn-zoom {
    position: absolute;
    top: 0;
    right: 0;
}

.page-comparateur .page-content .compared .btn-zoom {
    text-shadow: #fff;
    text-shadow: 1px 1px 0 #FFF;
}