.page-site .app-comparator {
  height: calc(100vh - 190px);
  position: relative;
}

.page-site .app-comparator .photo-selector {
  position: absolute;
  z-index: 410;
  top: 10px;
}

.page-site .app-comparator .photo-selector.left {
  left: 10px;
}

.page-site .app-comparator .photo-selector.right {
  right: 10px;
}

.page-site .app-comparator .col-map:nth-child(1) {
  padding-right: 7px;
}

.page-site .app-comparator .col-map:nth-child(2) {
  padding-left: 7px;
}