.page-comparateur .page-content {
    margin: 0 60px;
}

.page-comparateur .page-content .thumbs {
    width: 260px;
}

.page-comparateur .page-content .thumbs li {
    margin: 5px;
    width: calc(50% - 10px);
    display: block;
    float: left;
}

.page-comparateur .page-content .thumbs li img {
    width: 100%;
    height: auto;
    background: #CCC;
}

.page-comparateur .page-content .compared {
    background-color: #dcdcdc;
}

.page-comparateur .page-content .img-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    position: relative;
    margin: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.page-comparateur .page-content .img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 560px;
    visibility: hidden;
}