.page-gallery #header {
  margin-bottom: 0;
}

.page-gallery .header-title {
  display: none;
}

.page-gallery .app-footer {
  display: none;
}

.app-gallery {
  position: relative;
}

.app-gallery .photos-spacer {
  padding-top: 90px;
}

.app-gallery .photo img {
  width: 150px;
  height: 150px;
}

.page-gallery .picture {
  padding: 0 10px 0 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.page-gallery .picture img {
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease;
}

.page-gallery .picture .discover {
  position: absolute;
  top: 100%;
  left: 10px;
  right: 10px;
  height: 100%;
  padding: 0px 5px;
  transform: translateY(100%);
  line-height: 20px;
}

.page-gallery .picture .discover a {
  justify-content: space-evenly;
}

.page-gallery .picture .discover .township {
  font-size: 0.9em;
}

.page-gallery .picture .discover .ref {
  position: absolute;
  right: 3px;
  bottom: -5px;
}

.page-gallery .picture:hover .discover {
  transform: translateY(-100%);
}

.app-gallery .center-filter {
  border-radius: 10rem;
  background-color: #eeeeee;
  position: fixed;
  bottom: 30px;
  z-index: 2;
}
