.page-homeback .blocks {
    position: relative;
    height: calc(100vh - 190px);
    width: 50%;
    margin : 0 auto;
    margin-top: 10px;
}

.page-homeback .block {
    background-color: #777;
    overflow: hidden;
    font-family: 'Hind', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-homeback .block input{
    overflow: visible;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.page-homeback .block button{
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 10px;
    border: none;
    width: fit-content;
    margin: 0 auto;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}

.page-homeback .block p{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px #65696D;
}
.page-homeback .block.map{
    text-align: center;
    padding: 10px;
    display: flex;
}

.page-homeback .block.map a{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    font-family: 'Hind', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-homeback .block-1{
    background-color : #CFE09B;
}

.page-homeback .block-2{
    background-color : #AFD39A;
}

.page-homeback .block-3{
    background-color : #8EC89A;
}

.page-homeback .block-4{
    background-color : #89CCCA;
}

.page-homeback .block-5{
    background-color : #83D0F5;
}

.page-homeback .block.map{
    background-color : #B7B7B7;
}

.page-homeback .block-7{
    background-color : #8BADDC;
}

.page-homeback div.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.page-homeback button.validate{
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #78BE20;
    border: none !important;
    padding: 5px 30px;
    cursor: pointer;
}

.page-homeback .block:hover button{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

@media screen and (min-width: 800px){
    .page-homeback .block{
        position: absolute;
    }
}
@media screen and (max-width: 800px){
    .page-homeback .block{
        height: 200px;
        margin: 10px;
    }

    .page-homeback .legend{
        display: none;
    }

    .page-homeback .discover{
        display: none;
    }

    .page-homeback .block-1 img{
        filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    }

    .page-homeback .block-1 .discover{
        display: block;
        transform: translateY(-65px);
    }
}