.page-home .patchwork-item .info {
  z-index: 1;
  top: 0;
  left: 0;
}

.page-home .patchwork-item {
  flex: 1;
  height: 200px;
}
.page-home .patchwork-item img {
  object-fit: cover;
}

@media (min-width: 992px) {
  .page-home .patchwork-item {
    max-width: 200px;
  }
}

.page-home .patchwork-item .info {
  background: rgba(0, 0, 0, 0.2);
}

.page-home .patchwork-item button {
  width: fit-content;
}

.page-home .patchwork-item:hover button {
  display: block !important;
}
