.page-home .patchwork-item .info {
    z-index: 1;
    top: 0;
    left: 0;
}

.patchwork-item {
    width: 200px;
    height: 200px;
}

.patchwork-item .info {
    background: rgba(0, 0, 0, 0.2);
}

.patchwork-item button {
    width: fit-content;
}

.patchwork-item:hover button {
    display: block !important;
}