.page-map .app-footer {
    display: none;
}

.app-map {
    height: calc(100vh - 135px);
}

.app-map .sidebar {
    position: absolute;
    z-index: 10000;
    height: 100%;
    color: #FFF;
    width: 320px;
    transition: transform .3s;
}

.app-map.sidebar-collapsed .sidebar {
    transform: translateX(-100%);
}

.app-map .sidebar .btn-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .9);
}

.app-map .sidebar-content {
    background: rgba(0, 0, 0, .8);
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}

.app-map .sidebar .card-group-header-btn {
    background: rgba(0,0,0,.3);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.app-map .sidebar .card-header .btn.collapsed .hidden-collapsed,
.app-map .sidebar .card-header .btn:not(.collapsed) .visible-collapsed {
    display: none;
}

.app-map .sidebar .card-header .btn .icon {
    position: absolute;
    right: 10px;
}

.app-map .sidebar .filters {
  width: 100%;
}

.app-map .sidebar .filters .card {
    border: none;
    background: transparent;
}

.app-map .sidebar .filters .card-header .btn {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.app-map .sidebar .filters .card:not(:first-child) .card-header .btn {
    border-top: none;
}

.app-map .sidebar .filters .card-header .btn:not(.collapsed) {
    color: #FFF;
}

.app-map .sidebar .filters .card-body {
  color: var(--color-primary);
  padding: 0;
  border: none;
}

.app-map .sidebar .filters .card-body .btn {
    text-transform: none;
    white-space: normal;
    font-size: 14px;
    text-align: left;
    background: transparent;
    color: #FFF;
    border-color: transparent;
    margin-bottom: 1px;
}
.app-map .sidebar .filters .card-body .btn:hover,
.app-map .sidebar .filters .card-body .btn.active {
    background: #99D6EA;
    color: #000;
}

.app-map .sidebar .card-group {
    background: transparent;
}

.app-map .sidebar .card-header {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.app-map .sidebar .btn-site {
    text-align: left;
    text-transform: none;
    white-space: normal;
}

.app-map .sidebar .btn-site:hover {
    background: #99D6EA;
}

.app-map .leaflet-popup-content {
    text-align: center;
    margin: 0;
}

.app-map .leaflet-popup-content-wrapper {
    border-radius: 0;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    box-shadow: none;
}

.app-map .leaflet-popup-content .title {
    width: 150px;
    text-align: left;
    padding: 3px;
    font-size: 14px;
}

.app-map .leaflet-popup-content .img {
    width: 150px;
    height: 150px;
    background: no-repeat center;
    background-size: contain;
}