.page-sites .app-footer {
    display: none;
}

.app-sites {
    height: calc(100vh - 110px - 25px - 34px);/* window height - header height - header margin bottom - title height */
}

.app-sites .sidebar {
    position: absolute;
    z-index: 10000;
    height: 100%;
    color: #FFF;
    width: 270px;
    transition: transform .3s;
}

.app-sites.sidebar-collapsed .sidebar {
    transform: translateX(-100%);
}

.app-sites .sidebar .btn-toggle {
    position: absolute;
    top: 0;
    left: 100%;
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .9);
}

.app-sites .sidebar-content {
    background: rgba(0, 0, 0, .8);
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}

.app-sites .sidebar .card-group-header-btn {
    background: rgba(0,0,0,.3);
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

.app-sites .sidebar .card-header .btn.collapsed .hidden-collapsed,
.app-sites .sidebar .card-header .btn:not(.collapsed) .visible-collapsed {
    display: none;
}

.app-sites .sidebar .card-header .btn .icon {
    position: absolute;
    right: 10px;
}

.app-sites .sidebar .filters {
  width: 100%;
}

.app-sites .sidebar .text-right .align-text-top {
    font-family: 'Hind', sans-serif;
}

.app-sites .sidebar .text-right .mr-1 {
    margin-right: 0 !important;
}

.app-sites .sidebar .filters .card-header .btn .icon {
    right: auto;
    left: -10px;
}

.app-sites .sidebar .filters .card {
    border: none;
    background: transparent;
}

.app-sites .sidebar .filters .card.has-selected header a::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    margin-left: 5px;
}

.app-sites .sidebar .filters .card-header .btn {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.app-sites .sidebar .filters .card:not(:first-child) .card-header .btn {
    border-top: none;
}

.app-sites .sidebar .filters .card-header .btn:not(.collapsed) {
    color: #FFF;
}

.app-sites .sidebar .filters .card-body {
  color: var(--color-primary);
  padding: 0;
  border: none;
}

.app-sites .sidebar .filters .card-body .btn,
.app-sites .sidebar .btn-site {
    text-transform: none;
    white-space: normal;
    font-size: 14px;
    text-align: left;
    background: transparent;
    color: #FFF;
    border-color: transparent;
    margin-bottom: 1px;
}
.app-sites .sidebar .filters .card-body .btn:hover
{
    background: var(--color-sites-filter-bg-hover);
    color: var(--color-sites-filter-txt-hover);
}
.app-sites .sidebar .filters .card-body .btn.active,
.app-sites .sidebar .btn-site:hover {
    background: var(--color-sites-filter-bg-active);
    color: var(--color-sites-filter-txt-active);
}

.app-sites .sidebar .filters .filter-years .btn-group-vertical {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.app-sites .sidebar .filters .filter-years .card-body .btn {
    display: inline-block;
    width: 30%;
}

.app-sites .sidebar .card-group {
    background: transparent;
}

.app-sites .sidebar .card-header {
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.app-sites .leaflet-popup-content {
    text-align: center;
    margin: 0;
}

.app-sites .leaflet-popup-content-wrapper {
    border-radius: 0;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    box-shadow: none;
}

.app-sites .leaflet-popup-content .title {
    width: 150px;
    text-align: left;
    padding: 3px;
    padding-left: 5px;
    font-size: 12px;
}

.app-sites .leaflet-popup-content .img {
    width: 150px;
    height: 150px;
    background: no-repeat center;
    background-size: contain;
}