.page-sites #header {
  margin-bottom: 0;
}

.page-sites .header-title {
  display: none;
}

.page-sites .app-footer {
  display: none;
}

.app-sites {
  --maptool-bg: rgba(255, 255, 255, 0.95);
  --maptool-zindex: 1001;
}
@media (min-width: 768px) {
  .app-sites {
    --maptool-bg: rgba(255, 255, 255, 0.8);
  }
}

.app-sites {
  position: relative;
  /* window height - header height */
  height: calc(100vh - 110px);
}

.app-sites .header-spacer {
  /* .header-filters height + some margin */
  height: 78px;
}

.app-sites .btn.collapsed .hidden-collapsed,
.app-sites .btn:not(.collapsed) .visible-collapsed {
  display: none;
}

.app-sites .block-legend {
  background: var(--maptool-bg);
  min-width: 300px;
}

.app-sites .block-legend .legend-item-observatory .icon {
  width: 20px;
  height: 20px;
}

.app-sites .block-legend .legend-item > :not(.icon) {
  line-height: 2;
  display: inline-block;
  vertical-align: text-top;
}

.app-sites .block-legend .icon svg {
  fill: #000;
  width: 20px;
  height: 20px;
}

.app-sites .block-list-sites {
  position: absolute;
  z-index: var(--maptool-zindex);
  width: 100%;
  box-shadow: 0px 2px 2px #00000044;
}
@media (min-width: 768px) {
  .app-sites .block-list-sites {
    width: auto;
    min-width: 450px;
    box-shadow: none;
  }
}

.app-sites .block-list-sites .btn-toggle {
  background: var(--maptool-bg);
}

.app-sites .list-sites-collapse {
  background: var(--maptool-bg);
  /* This hardcoded calc avoid writing some JS */
  max-height: calc(100vh - 110px - 72px - 56px);
  overflow-y: auto;
}

.app-sites .list-observatories .card,
.app-sites .list-observatories .card-header {
  background: transparent;
}

.app-sites .list-observatories .btn-observatory {
  line-height: 1.3;
  color: #000;
}

.app-sites .list-observatories .btn-observatory .icon {
  width: 40px;
  height: 40px;
}

.app-sites .list-observatories .btn-observatory .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-sites .maptools-top-right {
  z-index: var(--maptool-zindex);
  position: absolute;
  top: 10px;
  right: 50px;
}

.app-sites .maptools-bottom-right {
  z-index: var(--maptool-zindex);
  position: absolute;
  bottom: 16px;
  right: 10px;
}

.app-sites .maptools-bottom {
  z-index: var(--maptool-zindex);
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.app-sites .marker-cluster {
  background: #fff;
  box-shadow: 0px 1px 2px 0px #000000;
}

.app-sites .marker-cluster div {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
}

.marker-cluster span {
  font-weight: bold;
  font-size: 18px;
  line-height: 34px;
}

@media (max-width: 767px) {
  .app-sites .leaflet-top {
    top: 60px;
  }
}

.app-sites .leaflet-marker-icon .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 50%;
  margin-left: -10px;
  fill: #fff;
  color: #fff;
}

.app-sites .leaflet-popup-content {
  text-align: center;
  margin: 0;
}

.app-sites .leaflet-popup-content-wrapper {
  border-radius: 4px;
  background: transparent;
  color: #000;
  overflow: hidden;
  padding: 0px;
  box-shadow: 0px 0px 5px 0px #00000033;
}

.app-sites .leaflet-popup-content .title {
  width: 150px;
  text-align: left;
  padding: 3px;
  padding-left: 5px;
  font-size: 12px;
  background: #fff;
}

.app-sites .leaflet-popup-content .title .site-name {
  font-size: 14px;
  text-transform: uppercase;
  line-height: initial;
}

.app-sites .leaflet-popup-content .title .site-name * {
  vertical-align: middle;
}

.app-sites .leaflet-popup-content .title .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.app-sites .leaflet-popup-content .title .icon svg {
  width: 100%;
  height: 100%;
}

.app-sites .leaflet-popup-content .img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-copy-url textarea {
  border: 1px solid #999;
}
