.page-site {
  --padding-x: 90px;
}

.page-site #header {
  margin-bottom: 0;
}

.page-site .header-title {
  display: block !important;
  padding: 10px 0 !important;
}

.page-site:not(.with-testimonial) .text-collapse.text-collapsable.text-collapsed .target {
  max-height: 220px;
}

.page-site .page-content .map-wrapper {
  height: 315px;
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .page-site .info {
    box-shadow: 0px 0px 7px 4px rgb(0 0 0 / 18%);
  }
}

@media (min-width: 992px) {
  .page-site .info {
    margin: 0 var(--padding-x);
  }
}

.page-site button > .current-image {
  border-bottom: solid !important;
  font-weight: bold;
}
