@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-primary: #00188f;
  --color-primary-50: #00188f88;
  --color-primary-light: #303f8a;
  --color-secondary: #78be20;
  --color-secondary-light: #72d409;

  --color-discover: rgba(153, 214, 234, 0.5);

  --color-sites-filter-txt-hover: #fff;
  --color-sites-filter-bg-hover: #99d6ea61;
  --color-sites-filter-txt-active: #000;
  --color-sites-filter-bg-active: #99d6ea;

  --page-container-min-height: calc(100vh - 415px);
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

@keyframes blink-3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**/

.important {
  color: #336699;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

::placeholder {
  font-style: italic;
  font-size: 14px;
}

.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #000;
}

.no-underline {
  text-decoration: none !important;
}

.btn:not(.btn-no-uppercase) {
  text-transform: uppercase;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-sm {
  padding-bottom: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000000cc;
}

.text-primary {
  color: var(--color-primary) !important;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
}

.btn-secondary:focus {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
}

.btn-link {
  color: var(--color-primary);
}

.btn-group-vertical > .btn + .btn {
  margin-top: 0;
}

.btn-group-vertical .btn-primary.inverse {
  border-bottom: 1px solid;
  border-bottom-color: var(--color-primary) !important;
}

.btn-group-vertical .btn-primary.inverse.active {
  border-bottom-color: #fff !important;
}

.btn-primary.inverse {
  color: var(--color-primary);
  background-color: #fff;
  border-color: #fff;
}

.btn-primary.inverse.active {
  color: #fff;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-outline-primary {
  color: var(--color-primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-primary);
}

.btn-clear-primary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-clear-primary:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.btn-outline-primary.btn-toggle:hover:not(.active) {
  color: #fff;
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.btn-big-icon {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-big-icon .icon {
  font-size: 1.5em;
}

.btn-square {
  width: 38px;
}

.pagination .page-item.active .page-link {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.pagination .page-link {
  color: var(--color-primary);
}

.progress-bar {
  background-color: var(--color-primary);
}

.discover {
  text-align: center;
  color: #fff;
  font-style: italic;
  background-color: var(--color-discover);
  z-index: 1;
  transition: transform 0.5s ease;
}

.discover a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.block:hover .discover {
  transform: translateY(-65px);
}

/* End of bootstrap */

/* Leaflet */

.leaflet-container .easy-button-container .icon {
  font-size: 1.5em;
}

.leaflet-verticalcenter {
  top: 50%;
  transform: translateY(-50%);
}

body,
html {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 .light,
h2 .light,
h3 .light,
h4 .light,
h5 .light,
h6 .light {
  font-weight: 500;
}

.app-footer {
  background: #fff;
  padding: 40px 60px 10px 60px;
  margin-top: 20px;
  position: relative;
  height: 260px;
  border-top: 1px solid #ccc;
}

.app-footer hr {
  border-color: #ccc;
}

.nav-link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.nav-item {
  padding: 2px 14px;
}

.nav-link:hover {
  color: black;
}

.navbar-brand {
  width: calc(100% - 36px);
}

.popover_nav {
  top: 36px !important;
}

.popover_nav .arrow {
  display: none;
}

.bg-light {
  background-color: transparent !important;
}

.navbar {
  padding: 0;
  justify-content: inherit;
}

.nav-bar {
  margin: 0;
}
@media (min-width: 768px) {
  .nav-bar {
    justify-content: flex-end;
  }
}

.navbar-toggler {
  border: none;
}

#header {
  height: 50px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0px 2px 2px #00000044;
}
@media (min-width: 768px) {
  #header {
    height: 110px;
    box-shadow: none;
  }
}

.header-title {
  justify-content: center;
  margin-left: 0;
  margin-bottom: -8px;
  padding-left: 120px;
  padding-right: 120px;
}

@media (max-width: 991px) {
  .header-title {
    padding-right: 3px;
  }

  .header-title h3 {
    font-size: 18px;
  }
  .header-title h5 {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .header-title h3 {
    font-size: 12px;
  }
  .header-title h5 {
    font-size: 12px;
  }
}

.header-title:empty {
  display: none !important;
}

.header-logo {
  position: absolute;
  height: 110px;
}

.nav-item.active .nav-link {
  font-weight: 600;
  color: var(--color-primary) !important;
}

.async:not(.async-resolved) .visible-async-resolved {
  display: none;
}

.async.async-resolved .hidden-async-resolved {
  display: none;
}

.text-collapse.text-collapsable.text-collapsed .target {
  max-height: 60px;
  overflow: hidden;
}

.text-collapse .gradient {
  /* box-shadow: -1px -5px 10px 0px #ffffff; */
  z-index: 1;
  position: relative;
}

.text-collapse.text-collapsable.text-collapsed .gradient:before {
  content: '';
  display: block;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 100%;
}

.text-collapse.text-collapsable .hidden-text-collapsable,
.text-collapse:not(.text-collapsable) .visible-text-collapsable {
  display: none;
}

.text-collapsable.text-collapsed .hidden-text-collapsed,
.text-collapsable:not(.text-collapsed) .visible-text-collapsed {
  display: none;
}

.modal-no-footer .modal-footer {
  display: none;
}

.modal-fs .modal-backdrop {
  background: transparent;
}

.modal-fs .modal-content {
  overflow: hidden;
}

.modal-fs .modal-dialog {
  color: #fff;
  margin: 0;
  max-width: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-fs .modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.8);
}

.modal-fs .modal-header {
  border: none;
  padding: 0;
}

.modal-fs .modal-header .close,
.modal-fs .modal-header .close:hover {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  margin: 0;
  padding: 10px;
}

.modal-fs.modal-img .modal-body {
  padding: 0;
  height: calc(100% - 44px);
}

.modal-fs.modal-img figure {
  height: 100%;
  margin: 0;
}

.modal-fs.modal-img .img-wrapper:not(:first-child) {
  padding-left: 5px;
}

.modal-fs.modal-img .img-wrapper:not(:last-child) {
  padding-right: 5px;
}

.modal-fs.modal-img figure img {
  max-width: calc(100% - 60px);
  max-height: calc(100% - 80px);
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  transform: translate(-50%, -50%);
}

.modal-fs.modal-img figcaption {
  font-weight: 700 !important;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0;
  text-align: center;
}

/* HEADER */

.header-title {
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}

.header-title h1 {
  font-size: 1.75em;
}

.navbar-collapse {
  z-index: 1002;
  background: #fff;
}

/* FOOTER */

footer {
  color: #000;
}

footer div:first-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo {
  align-self: center;
  height: 110px;
  width: auto;
}

footer ul {
  padding: 0 !important;
  list-style-type: none;
  font-style: italic;
  padding-top: 15px;
  margin: 0;
}

footer h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

footer a:hover {
  text-decoration: underline;
}

footer span {
  font-weight: normal;
  font-style: italic;
}

.modal-contained {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-contained .modal,
.modal-contained .modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-filters {
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1002;
  width: 100%;
  top: 0;
  bottom: 0;
}

@media (min-width: 992px) {
  .header-filters {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    bottom: auto;
  }
}

.header-filters .floating-filter-label {
  font-size: 16px;
}

@media (min-width: 992px) {
  .header-filters .floating-filter-label {
    background: #fff;
    z-index: 2;
    position: absolute;
    top: 9px;
    transition: 0.2s;
    pointer-events: none;
  }
}

@media (min-width: 992px) {
  .header-filters .floating-filter-label.active {
    transform: scale(0.85) translate(-5px, -25px);
  }
}

.header-filters .multiselect__tags .multiselect__strong {
  position: absolute;
  right: 40px;
  top: 10px;
}

.header-filters .multiselect__tags-wrap {
  display: block;
  max-height: 26px;
  overflow: hidden;
  padding-top: 1px;
}

.header-filters .multiselect__tag {
  max-width: calc(100% - 20px);
  margin-right: 0;
  padding: 4px 26px 2px 7px;
  background: var(--color-sites-filter-bg-active);
  color: var(--color-sites-filter-txt-active);
}

.header-filters .multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: var(--color-sites-filter-bg-active);
}

.header-filters .multiselect__tag-icon:after {
  color: var(--color-sites-filter-txt-active);
}

.header-filters .multiselect__content-wrapper {
  width: auto;
}

.header-filters .multiselect__element {
  margin-bottom: 1px;
}

.header-filters .multiselect__option--highlight {
  background: var(--color-sites-filter-bg-hover);
  color: var(--color-sites-filter-txt-hover);
}

.header-filters .multiselect__option--selected {
  background: var(--color-sites-filter-bg-active);
  color: var(--color-sites-filter-txt-active);
  font-weight: normal;
}

.marker-site .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 50%;
  margin-left: -10px;
  fill: #fff;
  color: #fff;
}
