:root {
    --color-primary: #00188F;
    --color-primary-light: #303f8a;
    --color-secondary: #78BE20;
    --color-secondary-light: #72d409;

    --color-discover: rgba(153, 214, 234, 0.5);

    --color-map-filter-txt-hover: #FFF;
    --color-map-filter-bg-hover: #99d6ea61;
    --color-map-filter-txt-active: #000;
    --color-map-filter-bg-active: #99D6EA;

    --page-container-min-height: calc(100vh - 415px);
}

.swiper-pagination-bullet-active {
    background: var(--color-primary);
}

@keyframes blink-3 {
    0%   {opacity: 0;}
    20%  {opacity: 1;}
    40%  {opacity: 0;}
    60% {opacity: 1;}
    80%  {opacity: 0;}
    100% {opacity: 1;}
}

/**/

.important {
    color: #336699;
}

a{
    color: inherit;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

button{
    font-family: 'Hind', sans-serif;
    cursor: pointer;
}

::placeholder{
    font-style: italic;
    font-size: 14px;
}

.form-control{
    border:none;
    border-radius: 0px;
    border-bottom: solid 1px #000;
}

.no-underline {
    text-decoration: none !important;
}

.btn {
    border-radius: 0;
}
.btn:not(.btn-no-uppercase) {
    text-transform: uppercase;
}
.btn:focus {
    box-shadow: none !important;
}
.btn-sm {
    padding-bottom: 2px;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
.btn-secondary:hover {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
}
.btn-secondary:focus {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
}

.btn-link {
    color: var(--color-primary);
}

.btn-group-vertical>.btn+.btn {
    margin-top: 0;
}

.btn-group-vertical .btn-primary.inverse {
    border-bottom: 1px solid;
    border-bottom-color: var(--color-primary) !important;
}

.btn-group-vertical .btn-primary.inverse.active {
    border-bottom-color: #FFF !important;
}

.btn-primary.inverse {
    color: var(--color-primary);
    background-color: #FFF;
    border-color: #FFF;
}

.btn-primary.inverse.active {
    color: #FFF;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.btn-outline-primary {
    color: var(--color-primary);
    background-color: transparent;
    background-image: none;
    border-color: var(--color-primary);
}

.btn-clear-primary {
    color: #FFF;
    background-color: transparent;
    border-color: transparent;
}

.btn-clear-primary:hover {
    background-color: var(--color-primary);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #FFF;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}

.btn-outline-primary.btn-toggle:hover:not(.active) {
    color: #fff;
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
}

.btn-big-icon {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-big-icon .icon {
    font-size: 1.5em;
}

.progress-bar {
    background-color: var(--color-primary);
}

.discover{
    text-align: center;
    color: #fff;
    font-style: italic;
    background-color : var(--color-discover);
    z-index: 9999;
    transition: transform .5s ease;
}
.discover a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.block:hover .discover{
    transform: translateY(-65px);
}

/* End of bootstrap */

/* Leaflet */

.leaflet-container .easy-button-container .icon {
    font-size: 1.5em;
    vertical-align: sub;
}

body, html {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6, .sans-serif, .btn {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 .light, h2 .light, h3 .light, h4 .light, h5 .light, h6 .light {
    font-weight: 500;
}

.app-footer {
    background: #666;
    padding: 40px 60px 10px 60px;
    margin-top: 20px;
    position: relative;
    height: 260px;
}

.app-footer hr {
    border-color: #FFF;
}

.nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.nav-item {
    padding: 2px 14px;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    padding: 0;
}

.bg-light {
    background-color: transparent !important;
}

.navbar {
    padding: 0;
    justify-content: inherit
}

.nav-bar {
    justify-content: flex-end;
    margin: 0;
    padding-top: 10px;
    padding-right: 40px;
}

#header {
    height: 110px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

.header-title {
    justify-content: center;
    margin-left: 0;
    margin-bottom: -8px;
    padding-left: 120px;
    padding-right: 120px;
}
@media (max-width: 575px) {
    .header-title {
        padding-right: 3px;
    }
    .header-title h3 {
        font-size: 12px;
    }
}

.header-logo {
    position: absolute;
    height: 110px;
}

#collapse ul {
    align-items: flex-end;
}

.nav-item.active .nav-link {
    font-weight: 600;
}

.async:not(.async-resolved) .visible-async-resolved {
    display: none;
}
.async.async-resolved .hidden-async-resolved {
    display: none;
}


.text-collapse.text-collapsable.text-collapsed .target {
    max-height: 60px;
    overflow: hidden;
}

.text-collapse .gradient {
    /* box-shadow: -1px -5px 10px 0px #ffffff; */
    z-index: 1;
    position: relative;
}

.text-collapse.text-collapsable.text-collapsed .gradient:before {
    content: "";
    display: block;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 100%;
}

.text-collapse.text-collapsable .hidden-text-collapsable,
.text-collapse:not(.text-collapsable) .visible-text-collapsable {
    display: none;
}

.text-collapsable.text-collapsed .hidden-text-collapsed,
.text-collapsable:not(.text-collapsed) .visible-text-collapsed {
    display: none;
}

.modal-no-footer .modal-footer {
    display: none;
}

.modal-fs .modal-backdrop {
    background: transparent;
}

.modal-fs .modal-content {
    overflow: hidden;
}

.modal-fs .modal-dialog {
    color: #FFF;
    margin: 0;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-fs .modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
    background: rgba(0,0,0,.8);
}

.modal-fs .modal-header {
    border: none;
    padding: 0;
}

.modal-fs .modal-header .close,
.modal-fs .modal-header .close:hover {
    color: #FFF;
    text-shadow: none;
    opacity: 1;
    margin: 0;
    padding: 10px;
}

.modal-fs.modal-img .modal-body {
    padding: 0;
    height: calc(100% - 44px);
}

.modal-fs.modal-img figure {
    height: 100%;
    margin: 0;
}

.modal-fs.modal-img .img-wrapper:not(:first-child) {
    padding-left: 5px;
}

.modal-fs.modal-img .img-wrapper:not(:last-child) {
    padding-right: 5px;
}

.modal-fs.modal-img figure img {
    max-width: calc(100% - 60px);
    max-height: calc(100% - 80px);
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    transform: translate(-50%, -50%);
}

.modal-fs.modal-img figcaption {
    font-family: 'Hind', sans-serif;
    font-weight: 700 !important;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0;
    text-align: center;
}

/* HEADER */

header h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 20px;
}

header h3 {
    line-height: 20px;
}

.navbar-collapse {
    z-index: 1;
    background: #FFF;
}

@media screen and (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 40px;
    }
}

/* FOOTER */

footer{
    color: #fff;
}

footer div:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer img{
    align-self: center;
    height: 110px;
    width: auto;
}

footer ul{
    padding: 0 !important;
    list-style-type: none;
    font-style: italic;
    padding-top: 15px;
    margin: 0;
}

footer h6{
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    margin-bottom: 15px;
}

footer a:hover{
    text-decoration: underline;
}

footer span{
    font-weight: normal;
    font-style: italic;
}

.modal-contained {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-contained .modal,
.modal-contained .modal-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}