:root {
    --color-primary: #00188F;
}

/**/

.btn {
    text-transform: uppercase;
}
.btn-sm {
    padding-bottom: 2px;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-link {
    color: var(--color-primary);
}

.progress-bar {
    background-color: var(--color-primary);
}

/* End of bootstrap */

body, html {
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6, .sans-serif, .btn {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 .light, h2 .light, h3 .light, h4 .light, h5 .light, h6 .light {
    font-weight: 500;
}

.app-footer {
    background: #666;
    padding: 60px 60px 10px 60px;
    position: relative;
}

.app-footer hr {
    border-color: #FFF;
}

.nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}

.nav-item {
    padding: 2px 14px;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    padding: 0;
}

.bg-light {
    background-color: transparent !important;
}

.navbar {
    padding: 0;
    justify-content: inherit
}

.nav-bar {
    justify-content: flex-end;
    margin: 0;
    padding-top: 20px;
    padding-right: 40px
}

#header {
    height: 110px;;
}

.header-title {
    justify-content: center;
}

.header-logo {
    position: absolute;
    height: 110px;
}

#collapse ul {
    align-items: flex-end;
}

.nav-link.active{
    font-weight: 600
}

.async:not(.async-resolved) .visible-async-resolved {
    display: none;
}
.async.async-resolved .hidden-async-resolved {
    display: none;
}

.modal-no-footer .modal-footer {
    display: none;
}

.modal-fs .modal-backdrop {
    background: transparent;
}

.modal-fs .modal-dialog {
    color: #FFF;
    margin: 0;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-fs .modal-content {
    height: 100%;
    border: none;
    border-radius: 0;
    background: rgba(0,0,0,.8);
}

.modal-fs .modal-header {
    border: none;
}

.modal-fs .modal-header .close {
    color: #FFF;
    text-shadow: none;
    opacity: 1;
}

.modal-fs.modal-img .modal-body {
    display: flex;
}

.modal-fs.modal-img .img-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-fs.modal-img .img-wrapper:not(:first-child) {
    padding-left: 5px;
}

.modal-fs.modal-img .img-wrapper:not(:last-child) {
    padding-right: 5px;
}

.modal-fs.modal-img .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}